/* header */
body.header-open {
    overflow: hidden;
}
.header {
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 3;
    height: 180px;
    top: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 84.73%
    );
}
.header .logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo-header .logo-content{
    display: flex;
    align-items: center;
    padding-top: 27px;
}
.header .logo-header .logo-content .site_logo{
    margin-right: 10px;
    display: flex;
}
.header .logo-header .logo-content .logo-brand{
    border: 0;
    background: none;
    display: flex;
    align-items: center;
}
.header .logo-header .logo-content{
    transform: translateX(-200%);
    opacity: 0;
    transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}
body.loaded .header .logo-header .logo-content{
    transform: translateX(0%);
    opacity: 1;
}
.header .logo-header .site_name {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}

.list-socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 32px;
    
}
.header .list-socials{
    opacity: 0;
    transform: translateX(110%);
    transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}
body.loaded .header .list-socials{
    transform: translateX(0%);
    opacity: 1;
}
.list-socials > li:not(:last-child) a.socials {
    margin-right: 10px;
}
.menu-tab {
    width: 35px;
    height: 31px;
    z-index: 2;
    position: absolute;
    top: 33px;
    right: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    z-index: 10;
    /*end of div*/
}
.menu-tab  {
    transform: translateX(300%);
    transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}
body.loaded .menu-tab {
    transform: translateX(0);
    opacity: 1;
}
.menu-tab div {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 10px 0;
    transition: all 0.6s ease-in-out;
}
.menu-tab:focus-within div{
    background-color: #fff;
}
.menu-tab div:first-child {
    margin-top: 0;
}
.menu-tab div:last-child {
    margin-bottom: 0;
}

/*end of menu-tab*/
.menu-tab.active {
    transition: all 600ms ease-in-out;
    background-color: transparent;
}
.menu-tab.active #one {
    transform: translateY(14.5px) rotate(45deg);
    transition: all 0.6s ease-in-out;
    background-color: #ffffff;
}
.menu-tab.active #two {
    opacity: 0;
    transition: 0.4s ease;
}
.menu-tab.active #three {
    transform: translateY(-11.5px) rotate(-45deg);
    transition: all 0.6s ease-in-out;
    background-color: #ffffff;
}

.main-menu {
    width: 220px;
    margin-top: 26px;
    opacity: 0;
    transform: translateX(-200%);
    transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}
body.loaded .main-menu {
    transform: translateX(0);
    opacity: 1;
}

.main-menu nav ul li {
    list-style-type: none;
    text-align: left;
    transition: all 0.5s ease;
}
.main-menu nav ul li:hover {
    transition: all 0.5s ease;
}
.main-menu nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    padding: 13.5px 0;
    display: flex;
    align-items: center;
    border: 0;
    background: none;
    transition: all 0.5s linear;
}
.main-menu nav ul li a:hover {
    color: #FFEC41;
}
.main-menu nav ul li a > span{
    transform: translateX(0);
    transition: transform 0.5s linear
}
.main-menu nav ul li a.active > span{
    transform: translateX(14px);
}
.main-menu nav ul li a::before {
    content: "";
    display: inline-block;
    margin-right: 0;
    height: 4px;
    background: #ffec41;
    opacity: 0;
    width: 4px;
    transform: translateX(8px) rotate(45deg);
    transition: transform 0.5s linear, opacity 0.5s linear;
}
.main-menu nav ul li a.active::before {
    opacity: 1;
    transform: translateX(5px) rotate(45deg);
}
.main-menu nav ul li a.active {
    color: #ffec41;
}

/*end of main-menu*/
.main-menu.show {
    right: 0px;
    background-color: rgba(2, 14, 27, 0.9);
    transition: all 0.6s ease-in-out;
    margin-top: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
}

.main-menu .copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}
.main-menu .main-xs-footer {
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.main-menu .footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #9ecdbe;
    transition: all 0.2s ease;
}
.main-menu .footer-link:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .menu-tab {
        display: none;
    }
    .main-menu-nav {
        padding-top: 0;
        padding-left: 0;
    }
    .main-menu nav ul li a{
        padding: 8.5px 0;
    }
}
@media (min-width: 555px) {
    .header .logo-header .list-socials{
        display: flex;
    }
    .main-menu .list-socials{
        display: none;
    }
}
@media (max-width: 1200px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
        height: 130px;
    }
    .header .logo-header .logo-content {
        padding-top: 11px;
    }
    .menu-tab {
        display: block;
    }
    .main-menu {
        width: 351px;
        right: -351px;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0px;
        transition: all 0.6s ease-in-out;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        /*end of nav*/
    }
    .main-menu-nav {
        padding-top: 117px;
        padding-left: 40px;
    }
    .header .logo-header {
        position: relative;
    }
    .header .logo-header .list-socials{
        z-index: 10;
    }
    .list-socials {
        margin-right: 75px;
        padding-top: 22px;
    }
    .list-socials .socials {
        font-size: 0;
        padding: 7px 18px;
        height: 52px;
    }
    .list-socials > li:first-child a.socials {
        margin-right: 10px;
    }
    .list-socials .btn .buttons-icon {
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .header{
        padding-left: 25px;
        padding-right: 25px;
    }
    .header .logo-header .site_name {
        font-size: 26px;
        line-height: 32px;
    }
    .main-menu-nav{
        padding-left: 25px;
    }
    .header .logo-header .logo-content{
        padding-top: 1px;
    }
    .header .logo-header .list-socials{
        padding-top: 7px;
        margin-right: 60px;
    }
    .main-menu{
        width: 315px;
        right: -315px;
    }
    .menu-tab{
        top: 22px;
        right: 0;
    }
    .main-menu,
    .menu-tab,
    .header .list-socials,
    .header .logo-header .logo-content{
        opacity: 0;
        transition: none;
    }
    body.loaded .main-menu,
    body.loaded .menu-tab,
    body.loaded .header .list-socials,
    body.loaded .header .logo-header .logo-content{
          -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
        animation: 1.5s ease 0s normal forwards 1 fadein;
    }
}
@media (max-width: 555px) {
    .header .logo-header .list-socials{
        display: none;
    }
    .main-menu .list-socials{
        display: flex;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 50px;
    }
    .main-menu-nav{
        padding-top: 20px;
    }
    .header .logo-header .logo-content {
        padding-top: 4px;
    }
}
@media (max-width: 350px) {
    .main-menu-nav {
        padding-left: 15px;
        padding-top: 20px;
    }
    .main-menu .main-xs-footer {
        padding-left: 15px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .onoff-music {
        background-position: 11.5px 10px;
    }
    @media (max-width: 991px) {
    }
}
