.bkg-color-353D4D {
    background-color: #353D4D;
    min-height: 100vh;
}

.splash-mint {
    padding-top: 154px;
    display: flex;
    justify-content: center;
    padding-bottom: 183px;
}

.splash-mint--body {
    position: relative;
    padding: 0 50px 50px;
    text-align: center;
    margin: 0 auto;
    max-width: 588px;
}

.splash-mint:not(.splash-manage) .splash-mint--body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 20px;
    background-image: url(../imgnew/mint/bg-splash-mint.svg);
    background-repeat: no-repeat;
    background-size: 588px 549px;
    z-index: 1;
}

.splash-mint:not(.splash-manage) .splash-mint--body::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    background: #1d2331;
    clip-path: polygon(0 5%, 95% 0, 100% 100%, 6% 95%);
    width: 501px;
    height: 549px;
    z-index: 0;
    transform: translateX(-50%);
}

.splash-mint--image {
    max-width: 400px;
    margin: auto;
    position: relative;
}

.splash-mint--ntf {
    background: #AA2D87;
    padding: 20px;
}

.splash-nft-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}

.splash-mint--content {
    position: relative;
    z-index: 1;
}

.splash-mint--title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.splash-mint--description {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.splash-mint--wallet {
    margin: -30px auto 0;
}

.wallet-form--fieldset {
    margin: 0 auto;
    max-width: 542px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 37px 45px 50px;
    position: relative;
}

.wallet-form--fieldset.focused {
    color: rgba(255, 255, 255, 0.4);
}

.wallet-form--fieldset::before {
    content: " ";
    position: absolute;
    background: #222835;
    color: rgba(255, 255, 255, 0.2);
    clip-path: polygon(6% 9%, 100% 0, 95% 95%, 0% 100%);
    width: 100%;
    height: 100%;
    max-height: 197px;
    left: 0;
    top: 0;
}

.wallet-form--fieldset>* {
    position: relative;
}

.wallet-form--label {
    font-weight: 500;
    margin-bottom: 2px;
}

.wallet-form .input-group {
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(217, 217, 217, .2);
}

.wallet-form--input {
    background: transparent;
    box-shadow: none !important;
    border: 0;
    width: 100%;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.wallet-form--input.not-value {
    color: rgba(255, 255, 255, 0.2);
}

.wallet-form--input-inside {
    color: rgba(255, 255, 255, 0.2);
}

/* .wallet-form--input::placeholder{
    color: rgba(255, 255, 255, 0.2);
} */
.form-status--text {
    min-height: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.form-status--text.success {
    color: #48C155;
}

.form-status--text.warning {
    color: #FFA620;
}

.form-status--text.error {
    color: #F64B25;
}

.form-status--text.process {
    color: #fff;
}

.form-status--text.process:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}
.wallet-form--group .input-group{
    display: flex;
}
.wallet-form--connection {
    background: transparent;
    border-radius: 0;
    border: 0;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 0;
    padding-right: 0;
}

.wallet-form--connection.connect {
    color: #8859EC;
}
.wallet-form--connection.connect:hover{
    text-decoration: underline;
}

.wallet-form--button {
    margin-top: 23px;
    position: relative;
}

.buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.buttons-group .wallet-form--btn:first-child {
    margin-right: 20.5px;
}

.wallet-form--btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 0;
    border: 0;
    position: relative;
}

.btn-metamask {
    color: #FFFFFF;
    padding: 15px 20px;
    margin: 0 auto;
    background: transparent;
    display: flex;
    align-items: stretch;
    transition: all 0.3s ease-in-out;
    min-width: 332px;
    justify-content: center;
    min-height: 80px;
}

.btn-metamask.btn-sm {
    padding: 10px 15px !important;
    min-width: 192px;
    min-height: 52px;
    margin: 0;
    white-space: nowrap;
    justify-content: flex-start;
}

.btn-metamask::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.3s ease-in;
    left: 0;
    top: 0;
    background: #F6351B;
}

.btn-metamask.btn-mint::after {
    background: #49C155;
}

.btn-metamask.btn-mint[disabled]::after,
.btn-metamask.btn-mint.disabled::after {
    background: #3C475C;
}

.btn-metamask.btn-mint.disabled,
.btn-metamask.btn-mint[disabled] {
    color: #56637D !important;
    opacity: 1;
}

.btn-metamask.metamask-switch::after,
.btn-metamask.metamask-connect::after {
    background: #F6851B;
}

.btn-metamask.btn-opensea::after {
    background: #2081E2;
}

.btn-metamask.btn-nft::after {
    background: #FFA620;
}

.btn-metamask::before {
    content: " ";
    position: absolute;
    width: calc(100% + 30px);
    height: 60px;
    left: -13px;
    z-index: 0;
    bottom: -23px;
    clip-path: polygon(0 46%, 98% 0, 100% 100%, 3% 90%);
    background: rgba(0, 0, 0, 0.1);
}

.btn-metamask.btn-sm::before {
    width: calc(100% + 20px);
    height: 30px;
    left: -10px;
    bottom: -13px;
}

.btn-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 2px;
}

.btn-metamask.btn-sm .btn-title {
    font-size: 20px;
    line-height: 25px;
}

.btn-metamask.metamask-connect .btn-title {
    margin-bottom: 0;
}

.btn-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.btn-icon {
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    min-width: 50px;
}

.btn-metamask.btn-sm .btn-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.btn-loader {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    border-top: 6px solid rgba(255, 255, 255, 0);
    border-right: 6px solid rgba(255, 255, 255, 1);
    border-bottom: 6px solid rgba(255, 255, 255, 1);
    border-left: 6px solid rgba(255, 255, 255, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: circle-loader-spin 1s infinite linear;
    animation: circle-loader-spin 1s infinite linear;
}

@keyframes circle-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.btn-metamask:hover {
    color: #FFFFFF;
}

.btn-metamask:focus {
    color: #FFFFFF;
}

.btn-metamask:hover::after {
    background: #F65D1B;
}

.btn-metamask:focus::after {
    background: #EB260C;
}

.btn-metamask.metamask-switch:hover::after,
.btn-metamask.metamask-connect:hover::after {
    background: #F69E1B;
}

.btn-metamask.metamask-switch:focus::after,
.btn-metamask.metamask-connect:focus::after {
    background: #EB6809;
}

.btn-metamask.btn-mint:hover::after {
    background: #7ACD53;
}

.btn-metamask.btn-mint[disabled]:hover::after,
.btn-metamask.btn-mint.disabled:focus::after,
.btn-metamask.btn-mint[disabled]::after,
.btn-metamask.btn-mint.disabled::after {
    background: #3C475C;
}

.btn-metamask.btn-mint:focus::after {
    background: #32AF3F;
}

.btn-metamask.btn-opensea:hover::after {
    background: #209CE2;
}

.btn-metamask.btn-opensea:focus::after {
    background: #1476D9;
}

.btn-metamask.btn-nft:hover::after {
    background: #FFC120;
}

.btn-metamask.btn-nft:focus::after {
    background: #FF8B20;
}

.dinamic-notify {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1.5px solid transparent;
    border-radius: 50px;
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 312px;
}

.dinamic-notify.error {
    color: #E65223;
    border-color: #E55223;
}

.dinamic-notify.success {
    color: #3CCC53;
    border-color: #3CCC53;
}

.notify-close {
    box-shadow: none;
    border: 0;
    margin-left: 18px;
    background-color: transparent;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMyAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNDc4MiAwLjY3NjA5N0wwLjQxNzU0IDEuNzM2NzZMNS41NDQwNiA2Ljg2MzI4TDAuNDE3NTM5IDExLjk4OThMMS40NzgyIDEzLjA1MDVMNi42MDQ3MiA3LjkyMzk0TDExLjczMTIgMTMuMDUwNUwxMi43OTE5IDExLjk4OThMNy42NjUzOCA2Ljg2MzI4TDEyLjc5MTkgMS43MzY3NkwxMS43MzEyIDAuNjc2MDk3TDYuNjA0NzIgNS44MDI2MkwxLjQ3ODIgMC42NzYwOTdaIiBmaWxsPSIjRTU1MjIzIi8+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.dinamic-notify.success .notify-close {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMyAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNDc4MiAwLjY3NjA5N0wwLjQxNzU0IDEuNzM2NzZMNS41NDQwNiA2Ljg2MzI4TDAuNDE3NTM5IDExLjk4OThMMS40NzgyIDEzLjA1MDVMNi42MDQ3MiA3LjkyMzk0TDExLjczMTIgMTMuMDUwNUwxMi43OTE5IDExLjk4OThMNy42NjUzOCA2Ljg2MzI4TDEyLjc5MTkgMS43MzY3NkwxMS43MzEyIDAuNjc2MDk3TDYuNjA0NzIgNS44MDI2MkwxLjQ3ODIgMC42NzYwOTdaIiBmaWxsPSIjM0NDQzUzIi8+Cjwvc3ZnPgo=");
}


.splash-manage .splash-mint--body {
    padding-bottom: 10px;
}

.splash-manage .wallet-form--fieldset {
    padding: 50px 45px;
}

.splash-manage .wallet-form--fieldset::before {
    max-height: 141px;
}

.splash-manage .wallet-form--button {
    margin-top: 18px;
}

.wrap-manage {
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrap-manage .splash-manage {
    align-items: center;
    padding: 0;
}

.splash-manage {
    padding-top: 120px;
    padding-bottom: 274px;
    flex-wrap: wrap;
}
.splash-collect--items{
    display: flex;
    flex-wrap: wrap;
}
.collect-card {
    background: rgba(26, 31, 43, .7);
    max-width: 220px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff;
}


.collect-card img {
    transition: transform 0.2s ease-in-out;
}

.collect-card:hover img {
    transform: scale(1.18);
}

.collect-image {
    overflow: hidden;
}

.collect-card.empty {
    min-height: 293px;
    min-width: 220px;
    background: rgba(0, 0, 0, 0.05);
}

.splash-collect {
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    margin: 10px auto 0;
}

.splash-collect--title {
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.collect-body {
    padding: 11px 10px 18px 10px;
}

.collect-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 2px;
    color: #FFFFFF;
}

.collect-generic {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #919AAB;
}

.generic-status.active {
    color: #58DF42;
}

.generic-status.paused {
    color: #00A3FF;
}

:root {
    --duration: .4s;
}

.status-switch {
    position: relative;
}

.checker {
    display: block;
    font-size: 15px;
    height: 44px;
    width: 76px;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 6px;
    transition: transform var(--duration) ease;
    cursor: pointer;
    position: relative;
    background: #1B222F;
    border: 2px solid #5E6E8D;
    margin-bottom: 0;
    transition: border-color var(--duration) ease;
}
.checker:hover{
    border-color: #ffffff;
}

.checkmark {
    width: 28px;
    height: 28px;
    transition: transform var(--duration) ease;
    transform: translateX(-8px);
    z-index: 5;
}

.checkmark svg {
    display: block;
    width: 28px;
    height: 28px;
    background: #fff;
    transform: translateX(8px);
    border-radius: 2px;
    transition: background-color var(--duration) ease, transform calc(var(--duration) * 1.5) ease;
}

.checkmark svg path {
    stroke-dasharray: 90 90;
    stroke-dashoffset: 90;
    transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
}

.manage-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    visibility: hidden;
}

.manage-checkbox:checked~.checkmark {
    transform: translate(40px);
}

.manage-checkbox:checked~.checkmark svg {
    background: #29B92F;
    transform: translate(-8px);
}

.manage-checkbox:checked~.checkmark svg path {
    stroke-dashoffset: 0;
}

.check-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.check-bg:before,
.check-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.check-bg:after {
    background: #1B222F;
}

.checker.checker:active {
    transition-duration: calc(var(--duration) / 2);
}

.checker.checker:active .check-bg::before {
    opacity: 0.2;
}

@media (min-width: 731px) {
    .collect-card:nth-child(3n + 1){
        margin-left: 0;
    }
    .collect-card:nth-child(3n){
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .splash-mint {
        padding-top: 224px;
    }

    .splash-mint--title {
        font-size: 39px;
        line-height: 52px;
    }

    .splash-mint--description {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .splash-mint--ntf {
        padding: 11px 8px 3px 8px;
        max-width: 230px;
    }

    .splash-nft-text {
        margin-bottom: 3px;
        font-size: 18px;
        line-height: 22px;
    }

    .wallet-form--fieldset {
        font-size: 12px;
        line-height: 15px;
        max-width: 422px;
        padding-bottom: 0;
        padding-top: 30px;
    }

    .wallet-form--input {
        max-width: 122px;
        font-size: 18px;
        line-height: 22px;
    }

    .wallet-form--input-inside {
        font-size: 0;
    }

    .wallet-form--input-inside::before {
        content: "...";
        font-size: 18px;
        line-height: 22px;
        color: rgb(255 255 255 / 20%);
        letter-spacing: 4px;
        margin-left: 4px;
        margin-right: 2px;
    }

    .wallet-form--connection {
        font-size: 18px;
        line-height: 22px;
    }

    .form-status--text {
        font-size: 18px;
        line-height: 22px;
    }

    .splash-mint--body {
        padding-left: 0;
        padding-right: 0;
    }

    .splash-mint:not(.splash-manage) .splash-mint--body::before {
        background-image: url(../imgnew/mint/bg-splash-mint.svg);
        background-repeat: no-repeat;
        background-size: 424px 362px;
        background-position-x: center;
    }

    .splash-mint:not(.splash-manage) .splash-mint--body::after {
        width: 347px;
        height: 332px;
    }

    .splash-mint--image video,
    .splash-mint--image img {
        width: 230px;
        height: 230px;
    }

    .splash-mint--wallet {
        margin-top: -50px;
    }

    .wallet-form--fieldset::before {
        max-height: 217px;
    }

    .wallet-form--button {
        margin-top: 30px;
    }
    
    .collect-title{
        font-size: 18px;
        line-height: 22px;
    }
    .collect-generic{
        font-size: 12px;
        line-height: 15px;
    }
    .splash-manage .wallet-form--fieldset{
        max-width: 418px;
        padding-top: 46px;
        padding-left: 51px;
        padding-right: 55px;
    }
    .splash-manage .wallet-form--fieldset::before {
        max-height: 124px;
        width: 100%;
    }
    .splash-manage .splash-mint--body{
        padding-bottom: 8px;
    }
    .splash-manage .splash-mint--wallet{
        margin-top: -45px;
    }
    .splash-manage .wallet-form--button{
        margin-top: 12px !important;
    }
}

@media (max-width: 730px) {
    .splash-collect--items{
        max-width: 480px;
        margin: 0 auto;
    }
    .collect-card.empty:last-of-type{
        display: none;
    }
}

@media (max-width: 576px) {
    .splash-mint {
        padding-top: 90px;
        padding-bottom: 136px;
        overflow-x: hidden;
    }

    .splash-mint>.col-xs-12 {
        padding: 0;
    }

    .splash-mint:not(.splash-manage) .splash-mint--body::after {
        width: 320px;
        height: 332px;
        clip-path: polygon(0% 8%, 100% 1%, 93% 100%, 6% 100%);
    }

    .wallet-form--group.hidden-mob {
        display: none;
    }

    .wallet-form--fieldset.hidden-bg .wallet-form--button {
        margin-top: 5px;
    }

    .buttons-group {
        flex-direction: column;
    }

    .buttons-group .wallet-form--btn:first-child {
        margin-right: 0;
        margin-bottom: 13px;
    }

    .btn-metamask.btn-sm {
        justify-content: center;
    }

    .btn-title{
        font-size: 24px;
        line-height: 30px;
    }
    .wallet-form--fieldset.hidden-bg {
        padding: 0;
    }

    .wallet-form--fieldset.hidden-bg::before {
        background: none;
    }

    .wallet-form--fieldset .wallet-form--button {
        margin-top: 30px;
    }

    .wallet-form--fieldset .wallet-form--button.buttons-group {
        margin-top: 10px;
    }

    .wallet-form--fieldset {
        padding-left: 20px;
        padding-right: 20px;
    }

    .wallet-form--fieldset::before {
        width: calc(100% + 40px);
        transform: translateX(-50%);
        left: 50%;
    }
    .splash-manage .wallet-form--fieldset{
        padding-left: 22px;
        padding-right: 22px;
    }
    .splash-manage .wallet-form--fieldset::before{
        width: calc(100% + 32px);
    }

    .wallet-form--input {
        max-width: 122px;
    }

    .dinamic-notify {
        bottom: 75px;
    }

    .wrap-manage{
        display: block;
        padding-top: 219px;
    }
    .collect-card{
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
    .collect-card img{
        width: 165px;
        height: auto;
    }
    .collect-card.empty{
        min-height: 233px;
        min-width: 165px;
    }
    .splash-collect--items {
        max-width: 360px;
    }
    
}

@media (max-width: 360px) {
    .wallet-form--fieldset.hidden-bg .wallet-form--button {
        padding: 0 20px;
    }

    .wallet-form--fieldset.hidden-bg .btn-metamask {
        padding: 15px 10px;
    }

    .btn-metamask {
        min-width: 100%;
        max-width: 100%;
    }
    .btn-metamask.metamask-connect .btn-title{
        white-space: normal;
        text-align: left;
    }

    .btn-metamask .btn-description {
        white-space: normal;
        text-align: left;
    }

    .dinamic-notify {
        font-size: 14px;
        line-height: 16px;
        min-width: 282px;
    }
    .splash-manage .splash-mint--title {
        font-size: 36px;
        line-height: 42px;
    }
    .splash-manage .splash-mint--wallet{
        margin-top: -35px;
    }
    .splash-collect--items{
        justify-content: center;
    }
    .collect-card.empty{
        display: none;
    }
}