
/* html, body, tags */
*{outline:none !important;}
html, body{text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
body {margin: 0;font-family: "ClashGrotesk", Helvetica, Arial, Verdana, sans-serif;color:#ffffff;font-size:20px;background: #353D4D;}
/*p{margin:0;}
h1,h2,h3,h4,ul,li,div,a,span,iframe{margin: 0;padding: 0;border:none;}*/
h1{font-size:36px;color:#303030;font-weight:600;}
h2{font-size:48px;line-height: 59px;color:#ffffff;font-weight:600;}
h3{font-weight:400;}
h4, .h4 {
    font-size: 20px;
}
h1, h2, h3, h4, ul, li, div, a, span, iframe {
    margin: 0;
    padding: 0;
    border: none;
}
iframe{border:none;overflow:hidden;margin-bottom:-10px;}
strong, b, .bold{font-weight:600;}
#top{display:inherit}
a {
    outline: none !important;
    color: #FFE600;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
a.href::before{
    position: absolute;
    bottom: 2px;
    content: " ";
    background: #FFE600;
    width: 100%;
    height: 1.5px;
    display: inline-block;
    left: 0;
}
a.href:hover{
    text-decoration: none;
    color: #FFE600;
    background-color: rgba(255, 230, 0, .2);
}
a.href:focus,
a.href:active {
    text-decoration: none;
    color: #FFE600;
    background-color: rgba(255, 230, 0, .3);
}
a.href.color-CD1A53::before{
    background: #CD1A53;
}
a.href.color-CD1A53:hover{
    color: #CD1A53;
    background-color: rgba(205, 26, 83, .2);
}
a.href.color-CD1A53:focus,
a.href.color-CD1A53:active {
    color: #CD1A53;
    background-color: rgba(205, 26, 83, .3);
}
a.not_decorate:hover{ text-decoration:none}
a{-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-ms-transition: all 0.2s linear;-kthtml-transition: all 0.2s linear;transition: all 0.2s linear;}
input[type=text]{box-shadow:inset 0px 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.15);-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.15);-khtml-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.15);}
.vat_text {color: #909090;font-size: 14px;font-weight: 400;margin: 5px 0;}
.noborder{border:none!important;}
.title-main{color:#ffffff;}
.text-main{font-size: 20px;line-height: 30px;color: rgba(255, 255, 255, 0.7);}
.text2-main{font-size: 20px;line-height: 30px;color: rgba(255, 255, 255, 0.7);}
.title-content{font-size:20px;line-height:28px;/*color:#303030;*/}
.text-content{font-size:16px;line-height:24px;/*color:#303030;*/}
.flex-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-center .clearfix{width: 100%;}
.flex-align-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.display-inherit{display:inherit}
.PTSans{font-family: 'PT Sans', Helvetica, Arial, Verdana, sans-serif;}
.nowrap{white-space: nowrap;}
.s-line-1{border-top:1px solid #d5d8d8;border-bottom:1px solid #e6e9e9;}
.s-line-2{border-top:1px solid #dadada;}
.s-linde-3{border-top:1px solid #d8d8d8;}
.s-image-1{height: 2px;padding: 10px 0;background-image: url("/imgnew/no-repeat.png");background-repeat: no-repeat;background-position: center -646px;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.floatl{float:left}
.floatr{float:right;}
.fixed {position:fixed;}
.relative {position:relative;}
.absolute {position:absolute;}
.text-center img,.text-center .img-responsive{margin-left:auto;margin-right: auto;}
.font-size-17{font-size: 17px;}
.font-size-22{font-size: 22px !important;}
.wrap {width:100%;}
/* .container {max-width: 970px;min-width:320px;} */
.container.width-750{max-width:750px;}
.container.width-670{max-width:670px;}
.container.width-650{max-width:650px;}
.container.width-700{max-width:700px;}
.container.width-840{max-width:840px;}
.container.width-810{max-width:810px;}
.container.width-910{max-width:910px;}
.transition-all {-webkit-transition: all 0.2s linear;-o-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-ms-transition: all 0.2s linear;-kthtml-transition: all 0.2s linear;transition: all 0.2s linear;}
.vcenter{display: inline-block!important;float: none;vertical-align: middle;margin-right: -15px;}
.fivecolumns{margin-left: -15px;margin-right:-15px;}
.fivecolumns .span2 {padding-right:15px; padding-left:15px; width: 20%; display: block; float: left; min-height: 30px;}
.overflow-x-hidden {
    -ms-overflow-x: hidden;
        overflow-x: hidden;
}
.btn-group.text-left{
    text-align: left;
}
/* color */
.color-406680{color:#406680;}
/* background-color */
.bkg-color-eff3f3{background-color:#eff3f3;}
.bkg-color-7D3793{background-color:#7D3793;}
.bkg-color-ffffff, .bkg-white {background-color: #ffffff;}
.bkg-color-93AEC2{background-color: #93AEC2;}
.bkg-color-7e3794{background-color: #7e3794;}
.bkg-color-f7f7f7{background-color: #f7f7f7;}
.bkg-color-transparent{background-color: transparent;}
.bkg-color-230126{background-color: #230126;}
.bkg-color-30B3C7{background-color: #30B3C7;}
.bkg-color-9F54FF{background-color: #9F54FF;}
.bkg-color-FFE24A{background: linear-gradient(0deg, #FFE24A, #FFE24A);}
.bkg-color-FF891C{background: linear-gradient(0deg, #FF891C, #FF891C);}
.bkg-color-B93987{background: linear-gradient(0deg, #B93987, #B93987);}
.bkg-color-8839B9{background: linear-gradient(0deg, #8839B9, #8839B9);}
.bkg-color-FF8A1F{background-color: #FF8A1F;}
.bkg-color-FFA451{background-color: #FFA451;}
.bkg-color-FFD159{background-color: #FFD159;}
.bkg-color-FFD66D{background-color: #FFD66D;}
.bkg-color-743989{background-color: #743989;}
.bkg-color-100011{background-color: #100011;}
.bkg-color-EE5BD7{background-color: #EE5BD7;}	
.bkg-color-131E2A{background-color: #131E2A;}
.bkg-color-293C7D{background-color: #293C7D;}
.bkg-bolor-980E76{background-color: #980E76;}
.bkg-color-507F21{background-color: #507F21;}
.bkg-color-AB185E{background-color: #AB185E;}
.bkg-color-824E00{background-color: #824E00;}
.bkg-color-E85B28{background-color: #E85B28;}

/* end background-color */
.shadow-inset {
    box-shadow: 0px 1px 0px #dadada inset;
    -moz-box-shadow: 0px 1px 0px #dadada inset;
    -webkit-box-shadow: 0px 1px 0px #dadada inset;
    -khtml-box-shadow: 0px 1px 0px #dadada inset;
}
[class^="icon-flags"], [class*=" icon-flags"]{background-image:url("/imgnew/flags.png");background-position: 0px -5px;background-repeat: no-repeat;display: inline-block;}
/* glyphicon */
.glyphicon.true:before{content:"a";}
.glyphicon.false:before{content:"f";}
.glyphicon.planet:before{content:"g";}
.glyphicon.facebook:before{content:"z";}
.glyphicon.tweeter:before{content:"x";}
.glyphicon.google:before{content:"c";}
.glyphicon.youtube:before{content:"v";}
.glyphicon.linkedin:before{content:"n";}
.glyphicon.down:before{content:"r";}
.glyphicon.up:before{content:"R";}
.glyphicon.planet:before{content:"g";}
.glyphicon.logo:before{content:"q";color:#f33333;}
.glyphicon.name:before{content:"w";}
.glyphicon.arrow-right:before{content:"t";}
[class^="ifont"], [class*=" ifont"] {
    display: inline-block;
    font-family: "ElmeticaNew";
    font-style: normal;
    text-align:left;
    font-weight:300;
    line-height: 18px;
    font-size:13px;
}
.ifont.true:before{content:"a";}
.ifont.false:before{content:"f";}
.ifont.planet:before{content:"g";}
.ifont.facebook:before{content:"z";}
.ifont.tweeter:before{content:"x";}
.ifont.google:before{content:"c";}
.ifont.youtube:before{content:"v";}
.ifont.linkedin:before{content:"n";}
.ifont.down:before{content:"r";}
.ifont.up:before{content:"R";}
.ifont.planet:before{content:"g";}
.ifont.logo:before{content:"q";}
.ifont.name:before{content:"w";}
.ifont.stars{
    color: #1a9cd4;
    font-size: 20px;
    line-height: 20px;
}
.ifont.app,.ifont.appstore{
    color: #fff;
}
.ifont.app:before,.ifont.macappstore:before{
    content:"U";
}
.ifont.appstore:before{
    content:"u";
}
.ifont.star-5:before{content:"sssss";}
.ifont.star-4:before{content:"ssssS";}
.ifont.star-4-half:before{content:"ssssp";}
.ifont.star-3:before{content:"sssSS";}
.ifont.star-3-half:before{content:"ssspS";}
.ifont.star-2:before{content:"ssSSS";}
.ifont.star-2-half:before{content:"sspSS";}
.ifont.star-1:before{content:"sSSSS";}
.ifont.star-1-half:before{content:"spSSS";}

.ifont.arrow-right:before{content:"t";margin-left:3px;}

[class^="box-"], [class*=" box-"] {display: block;margin: 0 auto;}
.box-22x22{width:22px;height:22px;}
.box-30x30{width:30px;height:30px;}
.box-32x32{width:32px;height:32px;}
.box-34x34{width:34px;height:34px;}
.box-36x36{width:36px;height:36px;}
.box-42x42{width:42px;height:42px;}
.box-46x46{width:46px;height:46px;}
.box-48x48{width:48px;height:48px;}
.box-50x50{width:50px;height:50px;}
.box-54x54{width:54px;height:54px;}
.box-56x56{width:56px;height:56px;}
.box-58x58{width:58px;height:58px;}
.box-36x36{width:36px;height:36px;}
.box-60x56{width:60px;height:56px;}
.box-60x60{width:60px;height:60px;}
.box-64x64{width:64px;height:64px;}
.box-70x70{width:70px;height:70px;}
.box-72x72{width:72px;height:72px;}
.box-74x34{width:74px;height:34px;}
.box-80x80{width:80px;height:80px;}
.box-82x48{width:82px;height:48px;}
.box-94x94{width:94px;height:94px;}
.box-100x100{width:100px;height:100px;}
.box-105x105{width:105px;height:105px;}
.box-112x112{width:112px;height:112px;}
.box-120x100{width:120px;height:100px;}
.box-120x120{width:120px;height:120px;}
.box-121x121{width:121px;height:121px;}
.box-128x128{width:128px;height:128px;}
.box-130x66{width:130px;height:66px;}
.box-132x132{width:132px;height:132px;}
.box-148x148{width:148px;height:148px;}
.box-240x160{width:240px;height:160px;}
.box-212x112{width:212px;height:112px;}
.box-212x140{width:212px;height:140px;}
.box-256x256{width:256px;height:256px;}
.box-256x175{width:256px;height:175px;}
.box-287x178{width:287px;height:178px;}
.box-290x182{width:290px;height:182px;}


[class^="icon-32"], [class*=" icon-32"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 30px;
    vertical-align: middle;
}

[class^="icon-50"], [class*=" icon-50"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 48px;
    vertical-align: top;
}

[class^="icon-64"], [class*=" icon-64"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    width: 64px;
    line-height: 62px;
    vertical-align: middle;
}

[class^="icon-128"], [class*=" icon-128"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 128px;
    width: 128px;
    line-height: 126px;
    vertical-align: middle;
}

.text-left [class^="box-"], .text-left [class*=" box-"] {margin-left:0;}

/* nav-pills */
.nav-pills > li > a {margin-left:-1px;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;-khtml-border-radius: 0px;border:1px solid #7e3794;border-collapse: collapse;font-size:16px;font-weight:400;color:#7e3794;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover, .nav-pills > li > a:focus {background-color: #7e3794;color: #fff;}
.nav-pills > li.first > a {border-radius: 4px 0 0 4px;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;-khtml-border-radius: 4px 0 0 4px;}
.nav-pills > li.last > a {border-radius: 0 4px 4px 0;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;-khtml-border-radius: 0 4px 4px 0;}
.nav-lg > li > a {padding:13px 8px;font-size:16px;font-weight: 400;}

.icon-avatars{
    background-repeat: no-repeat;
    border-radius: 40px;-webkit-border-radius: 40px;-moz-border-radius: 40px;-khtml-border-radius:40px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);-khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    vertical-align: middle;
    border:3px solid #fff;
}

.icon-avatars.box-36x36.avatar29{background-image: url("/imgnew/avatars/avatar29x36.png");}
.icon-avatars.box-36x36.avatar30{background-image: url("/imgnew/avatars/avatar30x36.png");}
.icon-avatars.box-36x36.avatar50{background-image: url("/imgnew/avatars/avatar50x36.png");}
.icon-avatars.box-36x36.avatar57{background-image: url("/imgnew/avatars/avatar57x36.png");}
.icon-avatars.box-72x72.avatarDefault,
.icon-avatars.box-72x72.f1,
.icon-avatars.box-72x72.f2,
.icon-avatars.box-72x72.f3,
.icon-avatars.box-72x72.f4,
.icon-avatars.box-72x72.f5,
.icon-avatars.box-72x72.f6,
.icon-avatars.box-72x72.f7,
.icon-avatars.box-72x72.f8{background-image: url("/imgnew/avatars/avatarDefault.jpg");}
.icon-avatars.box-72x72.avatar1{background-image: url("/imgnew/avatars/avatar1.jpg");}
.icon-avatars.box-72x72.avatar2{background-image: url("/imgnew/avatars/avatar2.jpg");}
.icon-avatars.box-72x72.avatar3{background-image: url("/imgnew/avatars/avatar3.jpg");}
.icon-avatars.box-72x72.avatar4{background-image: url("/imgnew/avatars/avatar4.jpg");}
.icon-avatars.box-72x72.avatar5{background-image: url("/imgnew/avatars/avatar5.jpg");}
.icon-avatars.box-72x72.avatar6{background-image: url("/imgnew/avatars/avatar6.jpg");}
.icon-avatars.box-72x72.avatar7{background-image: url("/imgnew/avatars/avatar7.jpg");}
.icon-avatars.box-72x72.avatar8{background-image: url("/imgnew/avatars/avatar8.jpg");}
.icon-avatars.box-72x72.avatar9{background-image: url("/imgnew/avatars/avatar9.jpg");}
.icon-avatars.box-72x72.avatar10{background-image: url("/imgnew/avatars/avatar10.jpg");}
.icon-avatars.box-72x72.avatar11{background-image: url("/imgnew/avatars/avatar11.jpg");}
.icon-avatars.box-72x72.avatar12{background-image: url("/imgnew/avatars/avatar12.jpg");}
.icon-avatars.box-72x72.avatar13{background-image: url("/imgnew/avatars/avatar13.jpg");}
.icon-avatars.box-72x72.avatar14{background-image: url("/imgnew/avatars/avatar14.jpg");}
.icon-avatars.box-72x72.avatar15{background-image: url("/imgnew/avatars/avatar15.jpg");}
.icon-avatars.box-72x72.avatar16{background-image: url("/imgnew/avatars/avatar16.jpg");}
.icon-avatars.box-72x72.avatar17{background-image: url("/imgnew/avatars/avatar17.jpg");}
.icon-avatars.box-72x72.avatar18{background-image: url("/imgnew/avatars/avatar18.jpg");}
.icon-avatars.box-72x72.avatar19{background-image: url("/imgnew/avatars/avatar19.jpg");}
.icon-avatars.box-72x72.avatar20{background-image: url("/imgnew/avatars/avatar20.jpg");}
.icon-avatars.box-72x72.avatar21{background-image: url("/imgnew/avatars/avatar21.jpg");}
.icon-avatars.box-72x72.avatar22{background-image: url("/imgnew/avatars/avatar22.jpg");}
.icon-avatars.box-72x72.avatar23{background-image: url("/imgnew/avatars/avatar23.jpg");}
.icon-avatars.box-72x72.avatar24{background-image: url("/imgnew/avatars/avatar24.jpg");}
.icon-avatars.box-72x72.avatar25{background-image: url("/imgnew/avatars/avatar25.jpg");}
.icon-avatars.box-72x72.avatar26{background-image: url("/imgnew/avatars/avatar26.jpg");}
.icon-avatars.box-72x72.avatar27{background-image: url("/imgnew/avatars/avatar27.jpg");}
.icon-avatars.box-72x72.avatar28{background-image: url("/imgnew/avatars/avatar28.jpg");}
.icon-avatars.box-72x72.avatar29{background-image: url("/imgnew/avatars/avatar29.png");}
.icon-avatars.box-72x72.avatar30{background-image: url("/imgnew/avatars/avatar30.png");}
.icon-avatars.box-72x72.avatar31{background-image: url("/imgnew/avatars/avatar31.jpg");}
.icon-avatars.box-72x72.avatar32{background-image: url("/imgnew/avatars/avatar32.jpg");}
.icon-avatars.box-72x72.avatar33{background-image: url("/imgnew/avatars/avatar33.jpg");}
.icon-avatars.box-72x72.avatar34{background-image: url("/imgnew/avatars/avatar34.jpg");}
.icon-avatars.box-72x72.avatar35{background-image: url("/imgnew/avatars/avatar35.png");}
.icon-avatars.box-72x72.avatar36{background-image: url("/imgnew/avatars/avatar36.png");}
.icon-avatars.box-72x72.avatar37{background-image: url("/imgnew/avatars/avatar37.jpg");}
.icon-avatars.box-72x72.avatar38{background-image: url("/imgnew/avatars/avatar38.jpg");}
.icon-avatars.box-72x72.avatar39{background-image: url("/imgnew/avatars/avatar39.jpg");}
.icon-avatars.box-72x72.avatar40{background-image: url("/imgnew/avatars/avatar40.jpg");}
.icon-avatars.box-72x72.avatar41{background-image: url("/imgnew/avatars/avatar41.jpg");}
.icon-avatars.box-72x72.avatar42{background-image: url("/imgnew/avatars/avatar42.jpg");}
.icon-avatars.box-72x72.avatar43{background-image: url("/imgnew/avatars/avatar43.jpg");}
.icon-avatars.box-72x72.avatar44{background-image: url("/imgnew/avatars/avatar44.jpg");}
.icon-avatars.box-72x72.avatar45{background-image: url("/imgnew/avatars/avatar45.jpg");}
.icon-avatars.box-72x72.avatar46{background-image: url("/imgnew/avatars/avatar46.jpg");}
.icon-avatars.box-72x72.avatar47{background-image: url("/imgnew/avatars/avatar47.jpg");}
.icon-avatars.box-72x72.avatar48{background-image: url("/imgnew/avatars/avatar48.jpg");}
.icon-avatars.box-72x72.avatar49{background-image: url("/imgnew/avatars/avatar49.jpg");}
.icon-avatars.box-72x72.avatar50{background-image: url("/imgnew/avatars/avatar50.png");}
.icon-avatars.box-72x72.avatar51{background-image: url("/imgnew/avatars/avatar51.jpg");}
.icon-avatars.box-72x72.avatar52{background-image: url("/imgnew/avatars/avatar52.jpg");}
.icon-avatars.box-72x72.avatar53{background-image: url("/imgnew/avatars/avatar53.jpg");}
.icon-avatars.box-72x72.avatar54{background-image: url("/imgnew/avatars/avatar54.jpg");}
.icon-avatars.box-72x72.avatar55{background-image: url("/imgnew/avatars/avatar55.jpg");}
.icon-avatars.box-72x72.avatar56{background-image: url("/imgnew/avatars/avatar56.jpg");}

[class^="icon-social"], [class*=" icon-social"], [class^="icon-appstore"], [class*=" icon-appstore"]  {
    background-image: url("/imgnew/no-repeat.png");
    background-position: 0 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    line-height: 22px;
    margin-top: 3px;
    vertical-align: text-top;
    width: 80px;
    cursor: pointer;
}
.icon-social-facebook{background-position: 0 -446px;}
.icon-social-tweeter{background-position: 0 -482px;}
.icon-social-google{background-position: 0 -523px;}
.icon-social-youtube{background-position: 0 -560px;}
.icon-social-linkedin{background-position: 0 -416px;}
.icon-appstore{background-position: -163px -541px; width:124px; height:34px}
.box-32x32.twitter{background-position: 0 -791px;}
.box-32x32.facebook{background-position: -37px -791px;}

.cell.controls{vertical-align: middle;top:0%;height:100%;}

.play-new{
    width: 190px;
    height: 190px;
    border: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: url(/imgnew/index/play190x190.png) no-repeat;
    background-size: 190px 190px; */

}
.play-new:hover {opacity: 0.9; filter: alpha(opacity=90);border: 0; background-color: transparent;}



/* buttons */
.btn, .btn-group > .btn {
    padding: 6px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	outline:none
}
.btn-lg, .btn-group-lg > .btn {
    font-size: 16px;
    color:#ffffff;
    font-family:"OpenSans", Arial, Verdana, sans-serif;
    border:1px solid transparent;
    min-width:172px;
    font-weight:600;
    padding: 12px 16px 10px 16px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);

}

.btn-social, .btn-group-lg > .btn-social {
    display: inline-block;
    font-size: 20px;
    line-height:43px;
    color:#ffffff;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    min-width:158px;
    font-weight:400;
    padding:0px;
    text-align: center;
    box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;-khtml-box-shadow: none;
    vertical-align: middle;
}
.btn-social:hover, .btn-social:focus, .btn-social:active{color:#ffffff;}
.btn-social .icon {display:inline-block;background-image:url("/imgnew/no-repeat.png");margin-right:3px;margin-bottom:3px;vertical-align: middle;}

.btn-sm, .btn-group-sm > .btn {
    font-size: 14px;
    color:#ffffff;

    border:1px solid transparent;
    min-width:104px;
    padding:3px 10px 3px 10px!important;
    border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -khtml-border-radius: 4px!important;
    line-height: 22px;
}
.btn-sm.btn-app{
    line-height: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -khtml-box-shadow: none;
}
.btn-md, .btn-group-md > .btn {
    font-size: 14px;
    color:#ffffff;
    border:1px solid transparent;
    min-width:134px;
    padding:4px 18px!important;
    border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -khtml-border-radius: 4px!important;
    line-height: 22px;
}
.btn .ifont.app{
    font-size:34px;
}
.btn-sm .ifont.app{
    font-size:26px;
    line-height:26px;
}
.btn-md.btn-app{padding:7px 18px 1px 18px!important;}
.btn-md .ifont.app{
    font-size:26px;
    line-height:23px;
}
.btn-group .help-block{
    font-size:10px;
    text-align:center;
    font-weight:400;
    color:#cccdce;
}
.btn-group{
    display: table;
    margin: 0 auto;
    text-align: center;
}
.btn-group .button{
    display: inline-block;
    margin-left: 15px;
    margin-right:15px;
    text-align: center;
}
.btn-group-left{
    display: table;
    margin: 0;
    text-align: center;
}
.btn-group-left .button:first-child{
    margin-left: 0;
}
.btn-group-right{
    display: table;
    margin: 0;
    float:right;
    text-align: center;
}
.btn-group-right .button:last-child{
    margin-right: 0;
}
.button.nomargin{
    margin-left:0;
    margin-right:0;
}
.btn-success{
    background: #439886;
}
.btn-success:hover, .btn-success:focus, .open > .dropdown-toggle.btn-success {
    background: #429885;
    background: -moz-linear-gradient(top,  #429885 0%, #2e685c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#429885), color-stop(100%,#2e685c));
    background: -webkit-linear-gradient(top,  #429885 0%,#2e685c 100%);
    background: -o-linear-gradient(top,  #429885 0%,#2e685c 100%);
    background: -ms-linear-gradient(top,  #429885 0%,#2e685c 100%);
    background: linear-gradient(to bottom,  #429885 0%,#2e685c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429885', endColorstr='#2e685c',GradientType=0 );
}
.btn-success:active, .btn-success.active{
    background: #357265;
    background: -moz-linear-gradient(top,  #357265 0%, #479a88 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#357265), color-stop(100%,#479a88));
    background: -webkit-linear-gradient(top,  #357265 0%,#479a88 100%);
    background: -o-linear-gradient(top,  #357265 0%,#479a88 100%);
    background: -ms-linear-gradient(top,  #357265 0%,#479a88 100%);
    background: linear-gradient(to bottom,  #357265 0%,#479a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357265', endColorstr='#479a88',GradientType=0 );
}
.btn-danger{
    text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
    background: #e85932;
    border-top: solid #db4218 1px;
    border-right: solid #c22918 1px;
    border-bottom: solid #bb1515 1px;
    border-left: solid #c22918 1px;
    background: -moz-linear-gradient(top,  #e85932 0%, #c22326 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e85932), color-stop(100%,#c22326));
    background: -webkit-linear-gradient(top,  #e85932 0%,#c22326 100%);
    background: -o-linear-gradient(top,  #e85932 0%,#c22326 100%);
    background: -ms-linear-gradient(top,  #e85932 0%,#c22326 100%);
    background: linear-gradient(to bottom,  #e85932 0%,#c22326 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e85932', endColorstr='#c22326',GradientType=0 );
}
.btn-danger:hover, .btn-danger:focus{
    background: #ea6642;
    border-top: solid #db4218 1px;
    border-right: solid #c22918 1px;
    border-bottom: solid #bb1515 1px;
    border-left: solid #c22918 1px;
    background: -moz-linear-gradient(top,  #ea6642 0%, #c83538 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea6642), color-stop(100%,#c83538));
    background: -webkit-linear-gradient(top,  #ea6642 0%,#c83538 100%);
    background: -o-linear-gradient(top,  #ea6642 0%,#c83538 100%);
    background: -ms-linear-gradient(top,  #ea6642 0%,#c83538 100%);
    background: linear-gradient(to bottom,  #ea6642 0%,#c83538 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6642', endColorstr='#c83538',GradientType=0 );

}
.btn-danger:active, .btn-danger.active{
    background: #bf2425;
    border-top: solid #db4218 1px;
    border-right: solid #c22918 1px;
    border-bottom: solid #bb1515 1px;
    border-left: solid #c22918 1px;
    background: -moz-linear-gradient(top,  #bf2425 0%, #e25731 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf2425), color-stop(100%,#e25731));
    background: -webkit-linear-gradient(top,  #bf2425 0%,#e25731 100%);
    background: -o-linear-gradient(top,  #bf2425 0%,#e25731 100%);
    background: -ms-linear-gradient(top,  #bf2425 0%,#e25731 100%);
    background: linear-gradient(to bottom,  #bf2425 0%,#e25731 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2425', endColorstr='#e25731',GradientType=0 );
    box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2);
    -khtml-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.2);

}
.btn-primary{
    text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
    border-top: solid #1e9abd 1px;
    border-right: solid #298ec0 1px;
    border-bottom: solid #0c79b0 1px;
    border-left: solid #298ec0 1px;
    background: #41b7d8;
    background: -moz-linear-gradient(top,  #41b7d8 0%, #008bd1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41b7d8), color-stop(100%,#008bd1));
    background: -webkit-linear-gradient(top,  #41b7d8 0%,#008bd1 100%);
    background: -o-linear-gradient(top,  #41b7d8 0%,#008bd1 100%);
    background: -ms-linear-gradient(top,  #41b7d8 0%,#008bd1 100%);
    background: linear-gradient(to bottom,  #41b7d8 0%,#008bd1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41b7d8', endColorstr='#008bd1',GradientType=0 );

}
.btn-primary:hover, .btn-primary:focus{
    background: #4ebcdb;
    border-top: solid #1e9abd 1px;
    border-right: solid #298ec0 1px;
    border-bottom: solid #0c79b0 1px;
    border-left: solid #298ec0 1px;
    background: -moz-linear-gradient(top,  #4ebcdb 0%, #1695d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ebcdb), color-stop(100%,#1695d5));
    background: -webkit-linear-gradient(top,  #4ebcdb 0%,#1695d5 100%);
    background: -o-linear-gradient(top,  #4ebcdb 0%,#1695d5 100%);
    background: -ms-linear-gradient(top,  #4ebcdb 0%,#1695d5 100%);
    background: linear-gradient(to bottom,  #4ebcdb 0%,#1695d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebcdb', endColorstr='#1694d5',GradientType=0 );

}
.btn-primary:active, .btn-primary.active{
    background: #0389cc;
    border-top: solid #1e9abd 1px;
    border-right: solid #298ec0 1px;
    border-bottom: solid #0c79b0 1px;
    border-left: solid #298ec0 1px;
    background: -moz-linear-gradient(top,  #0389cc 0%, #3eb2d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0389cc), color-stop(100%,#3eb2d3));
    background: -webkit-linear-gradient(top,  #0389cc 0%,#3eb2d3 100%);
    background: -o-linear-gradient(top,  #0389cc 0%,#3eb2d3 100%);
    background: -ms-linear-gradient(top,  #0389cc 0%,#3eb2d3 100%);
    background: linear-gradient(to bottom,  #0389cc 0%,#3eb2d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389cc', endColorstr='#3eb2d3',GradientType=0 );

    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -khtml-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);

}
.btn-default{
    color:#505050;
    border-color:#c5c5c5;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e6eaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6eaea));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e6eaea 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e6eaea 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e6eaea 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e6eaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6eaea',GradientType=0 );
    box-shadow: 0px 1px 1px #dbdbdb;
    -moz-box-shadow: 0px 1px 1px #dbdbdb;
    -webkit-box-shadow: 0px 1px 1px #dbdbdb;
    -khtml-box-shadow: 0px 1px 1px #dbdbdb;

}
.btn-default:hover, .btn-default:focus{
    border-color:#c5c5c5;
    background: #f2f2f2;
    color:#505050;
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #dbdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dbdfdf));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dbdfdf 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#dbdfdf 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#dbdfdf 100%);
    background: linear-gradient(to bottom,  #f2f2f2 0%,#dbdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdfdf',GradientType=0 );


}
.btn-default:active, .btn-default.active{
    background: #e4e7e7;
    background: -moz-linear-gradient(top,  #e4e7e7 0%, #dbdede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e7e7), color-stop(100%,#dbdede));
    background: -webkit-linear-gradient(top,  #e4e7e7 0%,#dbdede 100%);
    background: -o-linear-gradient(top,  #e4e7e7 0%,#dbdede 100%);
    background: -ms-linear-gradient(top,  #e4e7e7 0%,#dbdede 100%);
    background: linear-gradient(to bottom,  #e4e7e7 0%,#dbdede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e7', endColorstr='#dbdede',GradientType=0 );
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
    -khtml-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.2);
}
.btn-explode, .btn-group .explode{
    line-height:18px;
    min-width:292px;
    white-space: normal;
    text-align:left;
    height:55px;
    display:block;
    padding: 17px 15px 20px 15px;
    color:#7D3793;
    border-color: #ffffff;
    background:#ffffff;
    font-weight:600;
    font-size:16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.btn-explode:hover, .btn-group .btn-explode:hover{
    color:#406680;
    /*
    color:#f1693c;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    -khtml-box-shadow: 0px 1px 3px rgba(0,0,0,0.50);
   	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-kthtml-transition: all 0.1s linear;
	transition: all 0.1s linear;*/
}
.btn-explode:after, .btn-group .btn-explode:after{
    position: absolute;
    top:18px;
    right:12px;
    font-family: "ElmeticaNew";
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    vertical-align: text-bottom;
    content: "t";
}


.btn-white{
	color:#2f2f2f;
    border-color:#ffffff;
    background: #ffffff;
	    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;

}
.btn-white:hover, .btn-white:focus{
    border-color: #F5F5F5;
    background: #F5F5F5;
    color:#505050;
	    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;

}
.btn-white:active, .btn-white.active{
    background: #e4e7e7;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;
}
.btn-app{
    background: #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow:none;
    -khtml-box-shadow:none;
    text-shadow: none;
    border:1px solid #b1b3b6;
}
.btn-app:hover, .btn-app:focus, .open > .dropdown-toggle.btn-app {
    background: #000000;
}
.btn-app:active, .btn-app.active{
    background: #000000;
}
.btn-sm.btn-primary{
    text-shadow: 0px 1px 0px rgba(0,0,0,0.0);
}
.btn-noshadow{
	 box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;
}

.btn-contact{
    text-shadow: none;
    background: transparent;
    border-color: #93aec2;
    border-width: 2px;
    color:#93aec2;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -khtml-box-shadow:none;
}
.btn-contact:hover, .btn-contact:focus{
    background: transparent;
    border-color:#406580;
    color:#406580;
}
.btn-contact:active, .btn-contact.active{
    background: transparent;
    border-color:#406580;
    color:#406580;
}



/* breadcrumbs */
.breadcrumbs{padding-top:28px;padding-bottom:17px;font-size:13px;color:#909090;}
.breadcrumbs a{color:#909090;text-decoration: none;}
.breadcrumbs a:hover{color:#0088d3;text-decoration: none;}

/* product-breadcrumbs */
.product-breadcrumbs{
    padding-bottom:17px;
   	color:#909090;
    padding-top:28px;
    font-size:13px;
}
.product-breadcrumbs a{
    color:#909090;
    text-decoration: none;
}
.product-breadcrumbs a:hover{
    color:#0088d3;
    text-decoration: none;
}
/* form-breadcrumbs */
.form-breadcrumbs{
    padding-bottom:17px;
   	color:#909090;
    padding-top:28px;
    font-size:13px;
}
.form-breadcrumbs a{
    color:#909090;
    text-decoration: none;
}
.form-breadcrumbs a:hover{
    color:#0088d3;
    text-decoration: none;
}
.bullitt-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 60px;
    margin-bottom: 30px;
}
.bullitt-list li { 
    position: relative; 
    font-size: 14px;
    line-height: 1.43;
    color: #505050;
    padding-left: 28px;
    margin-bottom: 12px;
}
.bullitt-list li:last-child {
    margin-bottom: 0;
}
.bullitt-list .check {
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   line-height: 21px;
   text-align: center;
   font-family: ElmeticaNew;
   font-size: 11px;
   color: #FFF;
   background-color: #00ab38;
   -webkit-border-radius: 50%;
            border-radius: 50%; 
}
.bullitt-list .check:after {
    content: 'a';
}

.learn-more__link {
    font-family: "OpenSans", Helvetica, Arial, Verdana, sans-serif;
    font-weight:500;
    font-size: 14px;
    line-height: 1.43;
    color: #0088d3;
}
.arrow-right {
    font-family: ElmeticaNew;  
}
/*----- util ------*/
.m-t-0 {
    margin-top: 0!important;
}
.m-t-10 {
    margin-top: 10px!important;
}
.m-t-30 {
    margin-top: 30px!important;
}
.m-t-40 {
    margin-top: 40px!important;
}
.m-t-60 {
    margin-top: 60px!important;
}
.m-b-0 {
    margin-bottom: 0!important;
}
.m-b-10 {
    margin-bottom: 10px!important;
}
.m-b-25 {
    margin-bottom: 25px!important;
}
.m-b-30 {
    margin-bottom: 30px!important;
}
.m-b-40 {
    margin-bottom: 40px!important;
}
.m-b-60 {
    margin-bottom: 60px!important;
}
.m-r-22{
    margin-right: 22px;
}
.m-r-10{
    margin-right: 10px;
}
.p-0{padding:0 !important}
.p-l-0{padding-left: 0 !important;}
.p-t-0 {
    padding-top: 0!important;
}
.p-t-10 {
    padding-top: 10px!important;
}
.p-t-30 {
    padding-top: 30px!important;
}
.p-t-40 {
    padding-top: 40px!important;
}
.p-t-60 {
    padding-top: 60px!important;
}
.p-b-0 {
    padding-top: 0!important;
}
.p-b-10 {
    padding-top: 10px!important;
}
.p-b-30 {
    padding-top: 30px!important;
}
.p-b-40 {
    padding-top: 40px!important;
}
.p-b-60 {
    padding-bottom: 60px!important;
}


/*  -----alert----*/
.alert{ border-radius:2px}
.alert.alert-message{border:1px solid #CAD6E2; border-radius:6px}
.alert.alert-info{border:1px solid #D9EDF7; border-radius:0px; background-color:#D9EDF7; color:inherit}

.product-alert{padding-bottom:60px}

/*-------block technolory on product page---------*/
.bg-technology-33373d{
    background-size: 1280px 320px;
	background-position: center bottom;
    background-repeat: no-repeat;
	background-color:#33363D;
	background-image:url(/images/upload/technology/img-epv-cover-desktop.jpg);

}
.bg-technology-33373d .buttons-block.line {
    padding-top: 80px;
}
.bg-technology-33373d .buttons-block .title-main, .bg-technology-33373d .buttons-block h2, .bg-technology-33373d .buttons-block .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.47;
    margin-bottom: 15px;
	color:#ffffff
}
.bg-technology-33373d .buttons-block .text {
    font-size: 22px;
    line-height: 30px;
}
.bg-technology-33373d .buttons-block .btn-group .button {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
	display: table;
	width: 100%
}
.bg-technology-33373d .buttons-block .text {
  line-height: 1.56;
  text-align: center;
  color: #babdc2;
}
.bg-technology-33373d .buttons-block.line .btn-group {
	margin:0px auto;
	text-align: center;
	 display: table;
	width: 100%
}
.bg-technology-33373d .buttons-block .btn-group .btn {
    margin-top: 15px;
}
.bg-technology-33373d .buttons-block .btn-red{
    min-width:290px !important;
	border-radius: 4px;
    white-space: normal;
    display: inline-block;
    padding: 17px 15px 15px 15px;
    color:#ffffff;
	background-color: #f33333;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	border: none
}
.bg-technology-33373d .buttons-block .btn-xlg{
	min-width:290px !important;	
}
.btn-xlg, .btn-group-xlg > .btn {
    font-family: "ProximaNova Semibold",Arial,Verdana,sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding: 12px 24px;
}
@media (min-width: 1200px) {
    .footer-columns .span2 .text{display:block!important;}
    .text-lg-center {
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-toggle {
        display: none;
    }
    .text-md-center{
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .play-new{
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }
    
}
@media (max-width: 1024px) {
   
    h2{
        font-size: 36px;
        line-height: 44px;
    }
    .text-main, .text2-main{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width:  991px) {
   
    .text-sm-center {
        text-align: center!important;
    }
    .text-sm-center img{ text-align:center;display: inline-block;}
    .flex-align-center{justify-content: center;}
}

@media (min-width: 768px) {
    .footer-columns .span2 .text{display:block!important;}
}
@media (max-width: 767px) {
    .play-new{
        background-size: 70px 70px !important;
        width: 70px !important;
        height: 70px !important;
    }
    .text-xs-center{ text-align:center!important;}
    .text-xs-center img{ text-align:center;display: inline-block;}
    .text-sm-left{ text-align:left;}
    .text-sm-right{ text-align:right;}
	h1, .h1{ font-size:32px;}
	h2, .h2{ font-size: 36px;line-height: 44px;}
    /* .fivecolumns */
    .fivecolumns .span2 {float: none;width:100%;}
    .fivecolumns .span2.col-xs-6{float: left;width:50%;}
	
   
	.product-alert{padding-bottom:40px}
    
    .btn-group .btn-social {margin-bottom:15px;}
    
    .text-xs-center [class*="box-"]{ text-align:center;display:block;margin-left:auto; margin-right:auto;}
    	.bg-technology-33373d .buttons-block.line {
	    padding-top: 40px;
		padding-bottom: 40px;
	}
}
@media (max-width: 480px) {
	.text-xs-center{ text-align:center}
    .text-xs-center img{margin-left:auto; margin-right:auto;}
    .text-xs-left{ text-align:left}
    .text-xs-right{ text-align:right}
    .block-xs-center{margin:0 auto;}
	.product-breadcrumbs{padding-bottom:0px;}
    .breadcrumbs {padding-bottom: 17px;}
 
}

@media (max-width: 320px) {
	.text-xs-center{ text-align:center}
}

/* retina   */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .play-new{
        background-image: url(/imgnew/index/play190x190@2x.png);
    }
    .icon-avatars.box-36x36.avatar29{background-image: url("/imgnew/avatars/avatar29x36@2x.png");}
    .icon-avatars.box-36x36.avatar30{background-image: url("/imgnew/avatars/avatar30x36@2x.png");}
    .icon-avatars.box-36x36.avatar50{background-image: url("/imgnew/avatars/avatar50x36@2x.png");}
    .icon-avatars.box-36x36.avatar57{background-image: url("/imgnew/avatars/avatar57x36@2x.png");}
    .icon-avatars.box-72x72.avatarDefault,
    .icon-avatars.box-72x72.f1,
    .icon-avatars.box-72x72.f2,
    .icon-avatars.box-72x72.f3,
    .icon-avatars.box-72x72.f4,
    .icon-avatars.box-72x72.f5,
    .icon-avatars.box-72x72.f6,
    .icon-avatars.box-72x72.f7,
    .icon-avatars.box-72x72.f8{background-image: url("/imgnew/avatars/avatarDefault@2x.jpg");}
    .icon-avatars.box-72x72.avatar1{background-image: url("/imgnew/avatars/avatar1@2x.jpg");}
    .icon-avatars.box-72x72.avatar2{background-image: url("/imgnew/avatars/avatar2@2x.jpg");}
    .icon-avatars.box-72x72.avatar3{background-image: url("/imgnew/avatars/avatar3@2x.jpg");}
    .icon-avatars.box-72x72.avatar4{background-image: url("/imgnew/avatars/avatar4@2x.jpg");}
    .icon-avatars.box-72x72.avatar5{background-image: url("/imgnew/avatars/avatar5@2x.jpg");}
    .icon-avatars.box-72x72.avatar6{background-image: url("/imgnew/avatars/avatar6@2x.jpg");}
    .icon-avatars.box-72x72.avatar7{background-image: url("/imgnew/avatars/avatar7@2x.jpg");}
    .icon-avatars.box-72x72.avatar8{background-image: url("/imgnew/avatars/avatar8@2x.jpg");}
    .icon-avatars.box-72x72.avatar9{background-image: url("/imgnew/avatars/avatar9@2x.jpg");}
    .icon-avatars.box-72x72.avatar10{background-image: url("/imgnew/avatars/avatar10@2x.jpg");}
    .icon-avatars.box-72x72.avatar11{background-image: url("/imgnew/avatars/avatar11@2x.jpg");}
    .icon-avatars.box-72x72.avatar12{background-image: url("/imgnew/avatars/avatar12@2x.jpg");}
    .icon-avatars.box-72x72.avatar13{background-image: url("/imgnew/avatars/avatar13@2x.jpg");}
    .icon-avatars.box-72x72.avatar14{background-image: url("/imgnew/avatars/avatar14@2x.jpg");}
    .icon-avatars.box-72x72.avatar15{background-image: url("/imgnew/avatars/avatar15@2x.jpg");}
    .icon-avatars.box-72x72.avatar16{background-image: url("/imgnew/avatars/avatar16@2x.jpg");}
    .icon-avatars.box-72x72.avatar17{background-image: url("/imgnew/avatars/avatar17@2x.jpg");}
    .icon-avatars.box-72x72.avatar18{background-image: url("/imgnew/avatars/avatar18@2x.jpg");}
    .icon-avatars.box-72x72.avatar19{background-image: url("/imgnew/avatars/avatar19@2x.jpg");}
    .icon-avatars.box-72x72.avatar20{background-image: url("/imgnew/avatars/avatar20@2x.jpg");}
    .icon-avatars.box-72x72.avatar21{background-image: url("/imgnew/avatars/avatar21@2x.jpg");}
    .icon-avatars.box-72x72.avatar22{background-image: url("/imgnew/avatars/avatar22@2x.jpg");}
    .icon-avatars.box-72x72.avatar23{background-image: url("/imgnew/avatars/avatar23@2x.jpg");}
    .icon-avatars.box-72x72.avatar24{background-image: url("/imgnew/avatars/avatar24@2x.jpg");}
    .icon-avatars.box-72x72.avatar25{background-image: url("/imgnew/avatars/avatar25@2x.jpg");}
    .icon-avatars.box-72x72.avatar26{background-image: url("/imgnew/avatars/avatar26@2x.jpg");}
    .icon-avatars.box-72x72.avatar27{background-image: url("/imgnew/avatars/avatar27@2x.jpg");}
    .icon-avatars.box-72x72.avatar28{background-image: url("/imgnew/avatars/avatar28@2x.jpg");}
    .icon-avatars.box-72x72.avatar29{background-image: url("/imgnew/avatars/avatar29@2x.png");}
    .icon-avatars.box-72x72.avatar30{background-image: url("/imgnew/avatars/avatar30@2x.png");}
    .icon-avatars.box-72x72.avatar31{background-image: url("/imgnew/avatars/avatar31@2x.jpg");}
    .icon-avatars.box-72x72.avatar32{background-image: url("/imgnew/avatars/avatar32@2x.jpg");}
    .icon-avatars.box-72x72.avatar33{background-image: url("/imgnew/avatars/avatar33@2x.jpg");}
    .icon-avatars.box-72x72.avatar34{background-image: url("/imgnew/avatars/avatar34@2x.jpg");}
    .icon-avatars.box-72x72.avatar35{background-image: url("/imgnew/avatars/avatar35@2x.png");}
    .icon-avatars.box-72x72.avatar36{background-image: url("/imgnew/avatars/avatar36@2x.png");}
    .icon-avatars.box-72x72.avatar37{background-image: url("/imgnew/avatars/avatar37@2x.jpg");}
    .icon-avatars.box-72x72.avatar38{background-image: url("/imgnew/avatars/avatar38@2x.jpg");}
    .icon-avatars.box-72x72.avatar39{background-image: url("/imgnew/avatars/avatar39@2x.jpg");}
    .icon-avatars.box-72x72.avatar40{background-image: url("/imgnew/avatars/avatar40@2x.jpg");}
    .icon-avatars.box-72x72.avatar41{background-image: url("/imgnew/avatars/avatar41@2x.jpg");}
    .icon-avatars.box-72x72.avatar42{background-image: url("/imgnew/avatars/avatar42@2x.jpg");}
    .icon-avatars.box-72x72.avatar43{background-image: url("/imgnew/avatars/avatar43@2x.jpg");}
    .icon-avatars.box-72x72.avatar44{background-image: url("/imgnew/avatars/avatar44@2x.jpg");}
    .icon-avatars.box-72x72.avatar45{background-image: url("/imgnew/avatars/avatar45@2x.jpg");}
    .icon-avatars.box-72x72.avatar46{background-image: url("/imgnew/avatars/avatar46@2x.jpg");}
    .icon-avatars.box-72x72.avatar47{background-image: url("/imgnew/avatars/avatar47@2x.jpg");}
    .icon-avatars.box-72x72.avatar48{background-image: url("/imgnew/avatars/avatar48@2x.jpg");}
    .icon-avatars.box-72x72.avatar49{background-image: url("/imgnew/avatars/avatar49@2x.jpg");}
    .icon-avatars.box-72x72.avatar50{background-image: url("/imgnew/avatars/avatar50@2x.png");}
    .icon-avatars.box-72x72.avatar51{background-image: url("/imgnew/avatars/avatar51@2x.jpg");}
    .icon-avatars.box-72x72.avatar52{background-image: url("/imgnew/avatars/avatar52@2x.jpg");}
    .icon-avatars.box-72x72.avatar53{background-image: url("/imgnew/avatars/avatar53@2x.jpg");}
    .icon-avatars.box-72x72.avatar54{background-image: url("/imgnew/avatars/avatar54@2x.jpg");}
    .icon-avatars.box-72x72.avatar55{background-image: url("/imgnew/avatars/avatar55@2x.jpg");}
    .icon-avatars.box-72x72.avatar56{background-image: url("/imgnew/avatars/avatar56@2x.jpg");}

	.box-22x22 {
        background-size:22px 22px;
        -webkit-background-size:22px 22px;
        -moz-background-size:22px 22px;
		 background-position:0 0 !important;		
	}	

	.box-30x30 {
        background-size:30px 30px;
        -webkit-background-size:30px 30px;
        -moz-background-size:30px 30px;
		 background-position:0 0 !important;		
	}	

	.box-32x32 {
        background-size:32px 32px;
        -webkit-background-size:32px 32px;
        -moz-background-size:32px 32px;
		 background-position:0 0 !important;
	}
	.box-34x34 {
        background-size:34px 34px;
        -webkit-background-size:34px 34px;
        -moz-background-size:34px 34px;
		 background-position:0 0 !important;		
	}	

	.box-36x36 {
        background-size:36px 36px;
        -webkit-background-size:36px 36px;
        -moz-background-size:36px 36px;
		 background-position:0 0 !important;		
	}
	.box-42x42 {
        background-size:42px 42px;
        -webkit-background-size:42px 42px;
        -moz-background-size:42px 42px;
		 background-position:0 0 !important;		
	}
	.box-48x48 {
        background-size:48px 48px;
        -webkit-background-size:48px 48px;
        -moz-background-size:48px 48px;
		 background-position:0 0 !important;		
	}
    .box-50x50 {
        background-size:50px 50px;
        -webkit-background-size:50px 50px;
        -moz-background-size:50px 50px;
		 background-position:0 0 !important;		
	}	
    .box-56x56 {
        background-size:56px 56px;
        -webkit-background-size:56px 56px;
        -moz-background-size:56px 56px;
		 background-position:0 0 !important;		
	}	
    .box-58x58 {
        background-size:58px 58px;
        -webkit-background-size:58px 58px;
        -moz-background-size:58px 58px;
		 background-position:0 0 !important;		
	}			
   	.box-60x56{
        background-size:60px 56px;
        -webkit-background-size:60px 56px;
        -moz-background-size:60px 56px;
         background-position:0 0 !important;		
    }
	[class^="icon-50"], [class*=" icon-50"],.box-50x50 {
        background-size:50px 50px;
        -webkit-background-size:50px 50px;
        -moz-background-size:50px 50px;
         background-position:0 0 !important;			
	}


	.box-64x64 {
        background-size:64px 64px;
        -webkit-background-size:64px 64px;
        -moz-background-size:64px 64px;
         background-position:0 0 !important;
	}
   	.box-72x72{
        background-size:72px 72px;
        -webkit-background-size:72px 72px;
        -moz-background-size:72px 72px;
         background-position:0 0 !important;
    }
	.box-80x80 {
        background-size:80px 80px;
        -webkit-background-size:80px 80px;
        -moz-background-size:80px 80px;
         background-position:0 0 !important;
	}
	.box-74x34{
        background-size:74px 34px;
        -webkit-background-size:74px 34px;
        -moz-background-size:74px 34px;
         background-position:0 0 !important;		
    }
   	.box-54x54{
        background-size:54px 54px;
        -webkit-background-size:54px 54px;
        -moz-background-size:54px 54px;
         background-position:0 0 !important;		
    }
   	.box-72x72{
        background-size:72px 72px;
        -webkit-background-size:72px 72px;
        -moz-background-size:72px 72px;
         background-position:0 0 !important;		
    }
	.box-82x48{
        background-size:82px 48px;
        -webkit-background-size:82px 48px;
        -moz-background-size:82px 48px;
         background-position:0 0 !important;		
    }
	[class^="icon-128"], [class*=" icon-128"],.box-128x128 {
        background-size:128px 128px;
        -webkit-background-size:128px 128px;
        -moz-background-size:128px 128px;
         background-position:0 0 !important;	
	}
	.box-94x94{
        background-size:94px 94px;
        -webkit-background-size:94px 94px;
        -moz-background-size:94px 94px;
         background-position:0 0 !important;		
    }

	.box-100x100{
        background-size:100px 100px;
        -webkit-background-size:100px 100px;
        -moz-background-size:100px 100px;
         background-position:0 0 !important;
    }
    
	.box-112x112{
        background-size:112px 112px;
        -webkit-background-size:112px 112px;
        -moz-background-size:112px 112px;
         background-position:0 0 !important;		
    } 
   .box-120x120{
        background-size:120px 120px;
        -webkit-background-size:120px 120px;
        -moz-background-size:120px 120px;
         background-position:0 0 !important;
    }
	.box-128x128{
        background-size:128px 128px;
        -webkit-background-size:128px 128px;
        -moz-background-size:128px 128px;
         background-position:0 0 !important;
    }
   	.box-130x66{
        background-size:130px 66px;
        -webkit-background-size:130px 66px;
        -moz-background-size:130px 66px;
         background-position:0 0 !important;		
    }
	.box-120x100{
        background-size:120px 100px;
        -webkit-background-size:120px 100px;
        -moz-background-size:120px 100px;
         background-position:0 0 !important;		
    }
	.box-212x112{
        background-size:212px 112px;
        -webkit-background-size:212px 112px;
        -moz-background-size:212px 112px;
         background-position:0 0 !important;		
    }
   	.box-212x140{
        background-size:212px 140px;
        -webkit-background-size:212px 140px;
        -moz-background-size:212px 140px;
         background-position:0 0 !important;		
    }

	.box-121x121{
        background-size:121px 121px;
        -webkit-background-size:121px 121px;
        -moz-background-size:121px 121px;
         background-position:0 0 !important;		
    }
	
	.box-148x148{
        background-size:148px 148px;
        -webkit-background-size:148px 148px;
        -moz-background-size:148px 148px;
         background-position:0 0 !important;		
    }
		
	.box-240x160{
        background-size:240px 160px;
        -webkit-background-size:240px 160px;
        -moz-background-size:240px 160px;
         background-position:0 0 !important;		
    }	
   	.box-290x182{
        background-size:290px 182px;
        -webkit-background-size:290px 182px;
        -moz-background-size:290px 182px;
         background-position:0 0 !important;		
    }
   	.box-287x178{
        background-size:287px 178px;
        -webkit-background-size:287px 178px;
        -moz-background-size:287px 178px;
         background-position:0 0 !important;		
    }

    .icon-social-facebook{
        background-image: url("/imgnew/@2x/facebook@2x.png");
        background-position: 0 0px;
        background-size:58px 20px;
        -webkit-background-size:58px 20px;
        -moz-background-size:58px 20px;
    }
    .icon-social-tweeter{
        background-image: url("/imgnew/@2x/twitter@2x.png");
        background-position: 0 0px;
        background-size:60px 20px;
        -webkit-background-size:60px 20px;
        -moz-background-size:60px 20px;
    }
    .icon-social-google{
        background-image: url("/imgnew/@2x/google@2x.png");
        background-position: 0 0px;
        background-size:60px 20px;
        -webkit-background-size:60px 20px;
        -moz-background-size:60px 20px;
    }
    .icon-social-youtube{
        background-image: url("/imgnew/@2x/youtube@2x.png");
        background-position: 0 0px;
        background-size:80px 20px;
        -webkit-background-size:80px 20px;
        -moz-background-size:80px 20px;
    }
}

/*------------- Utils ----------------*/
.pb-0 {
    padding-bottom: 0!important;
}

/* table list */
table.table-check-list{
    margin:0 auto 20px auto;
    width:100%;
    max-width: 780px;

}
table.table-check-list .bkg-icon{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top:3px;
    background-color:#00af42;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    padding:3px 3px 8px 5px;
    height:32px;
    width:32px;
}
table.table-check-list .ifont{
    color:#ffffff;
    font-size:24px;
}

table.table-check-list > tbody > tr:first-child > td{
    border-top: 2px solid #c5c5c5;
}
table.table-check-list > tbody > tr > td{
    font-size: 18px;
    line-height:28px;
    font-weight:400;
    padding: 13px 19px 15px 19px;
    border-bottom:1px solid #c5c5c5;
    vertical-align: middle;
}
table.table-check-list td.row1{
    width:5%;

}
table.table-check-list td.row2{
    padding-left: 0;
}



/*------ Utils --------*/
.mb-0 {
    margin-bottom: 0!important;
}
.mb-15 {
    margin-bottom: 15px!important;
}
.mb-40 {
    margin-bottom: 40px!important;
}
.mb-60 {
    margin-bottom: 60px!important;
}
/*------ Colors ------*/
.text-color-303030 {
    color: #303030!important;
}