<app-header></app-header>

  <div *ngIf="status === 'connect'" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.manage_nft}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
					<div class="wallet-form--button connect">
						<button
							(click)="initWeb3()"
							class="wallet-form--btn btn btn-metamask metamask-connect"
						>
							<span class="btn-body">
								<span class="btn-title">{{texts.connect_wallet}}</span>
							</span>
						</button>
					</div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <div *ngIf="status === 'pendingConnect'" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="manage-form">
              <div class="wallet-form--fieldset">
                <div class="wallet-form--group">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input not-value"
                      >XXXX
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      XXXX</span
                    >
                    <!-- <input type="text" class="wallet-form--input" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      class="wallet-form--connection"
                      disabled
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button
                    class="wallet-form--btn btn btn-metamask metamask-connect connecting"
                  >
                    <span class="btn-body">
                      <span class="btn-loader"></span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <div *ngIf="status === 'network'" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="manage-form">
              <div class="wallet-form--fieldset focused">
                <div class="wallet-form--group">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input"
                      >{{ wallet.substring(0, 5) }}
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      {{
                        wallet.substring(wallet.length - 4, wallet.length + 4)
                      }}</span
                    >
                    <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      (click)="logout()"
                      class="wallet-form--connection connect"
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button
                    (click)="switchNetworks()"
                    class="wallet-form--btn btn btn-metamask metamask-switch"
                  >
                    <span class="btn-icon"
                      ><img
                        src="../../../assets/imgnew/mint/metamask-logo.svg"
                        width="30"
                        height="28"
                        alt="metamask-logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.switch_network}}</span>
                      <span class="btn-description"
                        >{{texts.minting_ethereum_only}}</span
                      >
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isShow" class="dinamic-notify error">
      {{texts.status_switch_error}} <button class="notify-close" (click)="closeNotify()"></button>
    </div>

    <app-footer></app-footer>
  </div>

  <div *ngIf="status === ''" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="splash-collect">
            <div class="splash-collect--title">You own {{ nfts.length }} Avatizer(s)</div>
            <div class="splash-collect--items">
              <a (click)="popup(nft)" href="javascript:void(0)" class="collect-card" *ngFor="let nft of nfts">
                <div class="collect-image">
                  <img
                    src="{{ nft.Image }}"
                    
                    height="240"
                    alt="avatyizer-nft-image"
                  />
                </div>
                <div class="collect-body">
                  <div class="collect-title">{{ nft.Name }}</div>
                  <div class="collect-generic">
                    {{texts.daily_reload}}:
                    <span
                      *ngIf="
                        nft?.Generative || nft?.Id === '0' || nft?.Id === '1'
                      "
                      class="generic-status active"
                      >Active</span
                    >
                    <span
                      *ngIf="
                        !nft?.Generative && nft?.Id !== '0' && nft?.Id !== '1'
                      "
                      class="generic-status paused"
                      >Paused</span
                    >
                  </div>
                </div>
              </a>
            </div>
            <div *ngIf="nfts.length <= 0" class="splash-collect--items"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      #collectmodal1
      class="modal fade modal-backdrop"
      id="collectmodal1"
      aria-labelledby="collectmodal1"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content1">
          <div class="modal-header">
            <h4 class="modal-title">{{ select?.Name }}</h4>
            <button
              (click)="closeModel()"
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <svg
                width="30"
                height="31"
                viewBox="0 0 30 31"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29.7089 1.76777L28.2947 0.353553L15.0312 13.617L1.41421 0L0 1.41421L13.617 15.0312L0 28.6482L1.41421 30.0624L15.0312 16.4454L28.2947 29.7089L29.7089 28.2947L16.4454 15.0312L29.7089 1.76777Z"
                  fill="#5E6E8D"
                />
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <img
              src="{{ select?.Image }}"
              width="400"
              height="400"
              alt="avatyizer-nft-image"
            />
            <div class="modal-body--content active">
              <div class="modal-desc">
                <div class="modal-desc--generic">
                  {{texts.daily_reload}}: <span class="generic-status {{select?.Generative ? 'active' : 'paused'}}">{{
                    select?.Generative ? "Active" : "Paused"
                  }}</span>
                </div>
                <div class="modal-desc--text {{select?.Generative ? 'active' : 'paused'}}" [innerHTML]="select?.Generative ? texts.generate_active_note : texts.generate_paused_note"></div>
                </div>
              <div class="status-switch">
                <label *ngIf="select?.Id !== '0'" class="checker">
                  <input
                    [(ngModel)]="gene"
                    (change)="toggleGen()"
                    class="manage-checkbox"
                    type="checkbox"
                    checked
                  />
                  <div class="check-bg"></div>
                  <div class="checkmark">
                    <svg
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.4041 9L12.5 15.7226L8.59589 12L6.5 14.0478L12.5 19.8182L21.5 11.0478L19.4041 9Z"
                        fill="white"
                      />
                    </svg>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
