<app-header></app-header>

  <div *ngIf="status === 'connect'" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class=" img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint splash-manage--connect row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.manage_nft}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  poster="../../../assets/imgnew/mint/image-mint.gif"
                  class="img-ill"
                  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  alt="avatizer video"
                  *ngIf="true"
                  width="400"
                  height="400"
                >
                <source src="../../../assets/imgnew/mint/mint-avatizer.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
					<div class="wallet-form--button connect">
						<button
							(click)="initWeb3()"
							class="wallet-form--btn btn btn-metamask metamask-connect"
						>
							<span class="btn-body">
								<span class="btn-title">{{texts.connect_wallet}}</span>
							</span>
						</button>
					</div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

  <div *ngIf="status === 'pendingConnect'" class="wrap bkg-color-353D4D">
    <div class="container">
      <div class="parallax">
        <img
          class=" img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  poster="../../../assets/imgnew/mint/image-mint.gif"
                  class="img-ill"
                  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  alt="avatizer video"
                  *ngIf="true"
                  width="400"
                  height="400"
                >
                <source src="../../../assets/imgnew/mint/mint-avatizer.mp4" type="video/mp4">
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="manage-form">
              <div class="wallet-form--fieldset">
                <div class="wallet-form--group">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input not-value"
                      >XXXX
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      XXXX</span
                    >
                    <!-- <input type="text" class="wallet-form--input" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      class="wallet-form--connection"
                      disabled
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button
                    class="wallet-form--btn btn btn-metamask metamask-connect connecting"
                  >
                    <span class="btn-body">
                      <span class="btn-loader"></span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
		<app-footer></app-footer>
  </div>
  <div *ngIf="status === 'network'" class="wrap bkg-color-353D4D wrap-manage wrap-network">
    <div class="container">
      <div class="parallax">
        <img
          class=" img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  poster="../../../assets/imgnew/mint/image-mint.gif"
                  class="img-ill"
                  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  alt="avatizer video"
                  *ngIf="true"
                  width="400"
                  height="400"
                >
                <source src="../../../assets/imgnew/mint/mint-avatizer.mp4" type="video/mp4">
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="manage-form manage-form--network">
              <div class="wallet-form--fieldset focused">
                <div class="wallet-form--group">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input"
                      >{{ wallet.substring(0, 5) }}
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      {{
                        wallet.substring(wallet.length - 4, wallet.length + 4)
                      }}</span
                    >
                    <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      (click)="logout()"
                      class="wallet-form--connection connect"
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button
                    (click)="switchNetworks()"
                    class="wallet-form--btn btn btn-metamask metamask-switch"
                  >
                    <span class="btn-icon"
                      ><img
                        src="../../../assets/imgnew/mint/metamask-logo.svg"
                        width="30"
                        height="28"
                        alt="metamask-logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.switch_network}}</span>
                      <span class="btn-description"
                        >{{texts.minting_ethereum_only}}</span
                      >
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isShow" class="dinamic-notify error">
      {{texts.status_switch_error}} <button class="notify-close" (click)="closeNotify()"></button>
    </div>
    <app-footer></app-footer>
  </div>
  <div *ngIf="status === ''" class="wrap bkg-color-353D4D wrap-manage wrap-collection">
    <div class="container">
      <div class="parallax">
        <img
          class=" img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>
      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title_mng}}</div>
							<div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  poster="../../../assets/imgnew/mint/image-mint.gif"
                  class="img-ill"
                  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
                  alt="avatizer video"
                  *ngIf="true"
                  width="400"
                  height="400"
                >
                <source src="../../../assets/imgnew/mint/mint-avatizer.mp4" type="video/mp4">
                </video>
              </div>
						</div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="splash-collect">
            <div class="splash-collect--title">You own {{ nfts.length }} Avatizer(s)</div>
            <div class="splash-collect--items">
              <a (click)="popup(nft)" data-toggle="modal" href="javascript:void(0)" class="collect-card" *ngFor="let nft of nfts">
                <div class="collect-image">
                  <img
                    src="{{ nft.Image }}"
                    
                    height="240"
                    alt="avatyizer-nft-image"
                  />
                </div>
                <div class="collect-body">
                  <div class="collect-title">{{ nft.Name }}</div>
                  <div class="collect-generic">
                    {{texts.generation}}:
                    <span
                      *ngIf="
                        nft?.Generative || nft?.Id === '0' || nft?.Id === '1'
                      "
                      class="generic-status active"
                      >Active</span
                    >
                    <span
                      *ngIf="
                        !nft?.Generative && nft?.Id !== '0' && nft?.Id !== '1'
                      "
                      class="generic-status paused"
                      >Paused</span
                    >
                  </div>
                </div>
              </a>
            </div>
            <div *ngIf="nfts.length <= 0" class="splash-collect--items"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      #collectmodal1
      class="modal fade"
      id="collectmodal1"
      role="dialog"
      aria-labelledby="collectmodal1"
    >
      <div class="modal-backdrop fade in"></div>
      <div class="modal-dialog" role="document">
        <div class="modal-content1">
          <div class="modal-header">
            <h4 class="modal-title">{{ select?.Name }}</h4>
            <button
              (click)="closeModel()"
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <svg
                width="30"
                height="31"
                viewBox="0 0 30 31"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29.7089 1.76777L28.2947 0.353553L15.0312 13.617L1.41421 0L0 1.41421L13.617 15.0312L0 28.6482L1.41421 30.0624L15.0312 16.4454L28.2947 29.7089L29.7089 28.2947L16.4454 15.0312L29.7089 1.76777Z"
                  fill="#5E6E8D"
                />
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <img
              src="{{ select?.Image }}"
              width="400"
              height="400"
              alt="avatyizer-nft-image"
            />
            <div class="modal-body--content active">
              <div class="modal-desc">
                <div class="modal-desc--generic">
                  {{ texts.generation }}: 
									<span class="generic-status {{select?.Generative ? 'active' : 'paused'}}">
										{{ select?.Generative ? "Active" : "Paused" }}
									</span>
                </div>
                <label *ngIf="select?.Id !== '0' && !select?.showPreloader" class="checker">
                  <input
                    [(ngModel)]="gene"
                    (change)="toggleGen()"
                    class="manage-checkbox"
                    type="checkbox"
                    checked
                  />
									<svg *ngIf="select?.Generative === false" class="checker--icon" width="18" height="18" viewBox="0 0 18 18" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9ZM18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9ZM13 9L6.5 5V13L13 9Z" fill="white"/>
									</svg>
									<svg *ngIf="select?.Generative === true" class="checker--icon" width="18" height="18" viewBox="0 0 18 18" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17ZM9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM6.5 5.5H8V12.5H6.5V5.5ZM11.5 5.5H10V12.5H11.5V5.5Z" fill="white"/>
									</svg>
									<span class="checker--label">
										{{ select?.Generative === false ? 'Start generation' : '' }}
										{{ select?.Generative === true ? 'Pause generation' : '' }}
									</span>
                </label>
								<div *ngIf="select?.showPreloader" class="checker--preloader">
									<svg  class="checker--preloader-circle" width="18" height="18" viewBox="0 0 18 18" fill="none">
										<mask id="mask0_1875_90925" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="18" height="18">
											<path d="M18 0V9H9V18H0V0H18Z" fill="#D9D9D9"/>
										</mask>
										<g mask="url(#mask0_1875_90925)">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M1 8.98242C0.999999 13.4007 4.58172 16.9824 9 16.9824C13.4183 16.9824 17 13.4007 17 8.98242C17 4.56414 13.4183 0.982422 9 0.982421C4.58172 0.982421 1 4.56414 1 8.98242ZM-3.93402e-07 8.98242C-6.10673e-07 13.953 4.02944 17.9824 9 17.9824C13.9706 17.9824 18 13.953 18 8.98242C18 4.01186 13.9706 -0.0175783 9 -0.0175785C4.02944 -0.0175787 -1.76132e-07 4.01186 -3.93402e-07 8.98242Z" fill="white"/>
										</g>
									</svg>
									<p class="checker--preloader-label">Changing mode</p>
								</div>
              </div>
              <div class="status-switch">
								<div 
									class="modal-desc--text {{select?.Generative ? 'active' : 'paused'}}" 
									[innerHTML]="select?.Generative ? texts.generate_active_note : texts.generate_paused_note"
								>
								</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
