<div class="wrap bkg-color-293C7D overflow-x-hidden" id="first_screen_wrap">
    <a href="#" class="hPound" id="top"></a>
    <div class="container-fluid">
      <nav id="header" class="header">
        <div class="logo-header">
          <div class="logo-content">
            <a href="{{environment.mainsiteUrl}}" class="logo-brand anchor no-hover">
            <span class="site_logo"
              ><svg
                width="53"
                height="60"
                viewBox="0 0 53 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="4.60938"
                  y="8.57422"
                  width="43.5152"
                  height="43.5152"
                  fill="#E68F2C"
                ></rect>
                <path
                  d="M30.1383 53.5302L26.0171 59.9999L19.125 40.2197L28.18 42.6387L30.1383 53.5302Z"
                  fill="#C3E4F8"
                ></path>
                <path
                  d="M29.9516 55.8982L36.9204 43.266L35.8007 34.1406L26.125 42.6005L29.9516 55.8982Z"
                  fill="#5682B8"
                ></path>
                <path
                  d="M24.1484 44.3336L27.924 54.7004L33.8306 45.4342V42.0811L24.1484 44.3336Z"
                  fill="#88B3DF"
                ></path>
                <path
                  d="M29.0215 50.5231L32.5539 45.7429L32.3427 43.3047L27.0312 45.4996L29.0215 50.5231Z"
                  fill="#C3E4F8"
                ></path>
                <path
                  d="M14.3961 30.5633L16.7446 40.1878L24.6797 45.9344L29.78 46.2928L35.0594 41.5573L37.6895 27.7988L34.5922 15.9665L17.8645 11.3398L13.6602 18.5262L14.3961 30.5633Z"
                  fill="#ACD2EF"
                ></path>
                <path
                  d="M34.2227 56.7363L42.7721 47.7197L49.325 48.3085L34.2227 56.7363Z"
                  fill="#74295E"
                ></path>
                <path
                  d="M44.9336 52.4223L52.3632 49.4082L51.6272 51.2448L44.9336 52.4223Z"
                  fill="#A53794"
                ></path>
                <path
                  d="M16.3828 28.502L17.0227 31.6248L20.8431 35.6116L23.614 33.231L16.3828 28.502Z"
                  fill="#DDEDF9"
                ></path>
                <path
                  d="M18.3203 24.6817L26.2874 26.5439L25.2827 25.2705L19.8177 24.3682L18.3203 24.6817Z"
                  fill="#2B2329"
                ></path>
                <path
                  d="M29.6172 26.4232L30.2315 25.2905L34.4743 24.1387L35.063 24.369L29.6172 26.4232Z"
                  fill="#332732"
                ></path>
                <path
                  d="M30.1914 28.5019C30.1914 28.5019 31.2537 26.5565 35.1765 26.3262L34.6709 27.8812L30.1914 28.5019Z"
                  fill="#672467"
                ></path>
                <path
                  d="M20.2934 28.0604L19.6406 26.3262C19.6406 26.3262 23.2818 26.307 25.1824 28.6811L20.2934 28.0604Z"
                  fill="#5A266B"
                ></path>
                <path
                  d="M25.3555 34.2613L28.6383 34.85L27.4416 27.2988L25.3555 34.2613Z"
                  fill="#DDEDF9"
                ></path>
                <path
                  d="M29.0547 32.5723L29.6178 34.652L30.277 34.0185L29.0547 32.5723Z"
                  fill="#5E8ABF"
                ></path>
                <path
                  d="M30.793 32.5719L33.5895 35.8035L36.2132 32.911L36.6547 30.0186L30.793 32.5719Z"
                  fill="#DDEDF9"
                ></path>
                <path
                  d="M28.1951 35.6123L27.7344 37.1545L28.6367 37.3721L28.1951 35.6123Z"
                  fill="#5E8ABF"
                ></path>
                <path
                  d="M33.4444 37.7688L32.3438 42.9394L34.6219 40.5589L35.7994 35.4395L33.4444 37.7688Z"
                  fill="#5682B8"
                ></path>
                <path
                  d="M15.3203 31.7598L20.1134 36.6616L23.249 43.9888L17.5153 40.1684L15.3203 31.7598Z"
                  fill="#5682B8"
                ></path>
                <path
                  d="M23.4805 39.5285L27.0001 37.3079L28.6383 37.8262L30.1101 37.2119L31.9083 38.6326L23.4805 39.5285Z"
                  fill="#662873"
                ></path>
                <path
                  d="M23.4805 39.5277L26.7441 40.8076L28.2799 40.2637L29.7838 40.5132L31.9083 38.6318L23.4805 39.5277Z"
                  fill="#6EA2CE"
                ></path>
                <path
                  d="M20.2969 28.0612L22.415 29.6163L25.3651 28.842C25.3651 28.842 24.6612 28.1636 22.9782 27.8053C21.2888 27.4405 20.2969 28.0612 20.2969 28.0612Z"
                  fill="#BA2462"
                ></path>
                <path
                  d="M30.1094 28.5797L32.8355 29.1812L34.6721 27.8885C34.6721 27.8885 33.7826 27.5878 32.5347 27.6966C31.0309 27.8182 30.1094 28.5797 30.1094 28.5797Z"
                  fill="#BA2462"
                ></path>
                <path
                  d="M10.4628 37.2054L1.12628 35.8359L0 39.9507L10.4628 37.2054Z"
                  fill="#A7CFE4"
                ></path>
                <path
                  d="M7.99609 49.1475L17.1599 57.5305L12.258 49.7874L7.99609 49.1475Z"
                  fill="#961E1F"
                ></path>
                <path
                  d="M38.3759 31.1L32.8789 17.4375C32.8789 17.4375 36.7825 19.0693 38.3759 22.9409C40.3341 27.702 38.3759 31.1 38.3759 31.1Z"
                  fill="#8F3B96"
                ></path>
                <path
                  d="M36.8594 23.9775L41.2877 31.6247C41.2877 31.6247 41.7292 29.1866 40.571 26.8892C39.2463 24.2655 36.8594 23.9775 36.8594 23.9775Z"
                  fill="#DB3327"
                ></path>
                <path
                  d="M25.7969 18.8133L31.9722 22.5057L42.0383 23.5872L28.1838 17.4375L25.7969 18.8133Z"
                  fill="#D7C086"
                ></path>
                <path
                  d="M44.5207 21.3931L23.4414 19.147L28.5096 13.9443L44.5207 21.3931Z"
                  fill="#DB3127"
                ></path>
                <path
                  d="M13.9739 2.77168L13.6667 9.36935L11.9453 1.6582L13.9739 2.77168Z"
                  fill="#C92127"
                ></path>
                <path
                  d="M8.01825 12.0567L3.82031 12.0695L7.96065 9.86816L8.01825 12.0567Z"
                  fill="#A6C1E2"
                ></path>
                <path
                  d="M19.7383 6.02812C19.7639 5.95773 22.618 1.03027 22.618 1.03027L23.0723 2.50851L19.7383 6.02812Z"
                  fill="#985AA4"
                ></path>
                <path
                  d="M42.0391 26.0391L45.0787 28.8803L48.6687 28.2468L42.0391 26.0391Z"
                  fill="#4F2A5F"
                ></path>
                <path
                  d="M44.9336 13.9448C45.0296 13.9704 47.4805 14.2391 47.4805 14.2391L48.2868 13.6504L44.9336 13.9448Z"
                  fill="#8E2F92"
                ></path>
                <path
                  d="M41.5312 7.25578H43.9566L44.8397 3.08984L41.5312 7.25578Z"
                  fill="#D7C086"
                ></path>
                <path
                  d="M42.8136 14.6289L21.8047 20.9706C21.8047 20.9706 23.0461 14.1426 30.4949 11.6277C37.9437 9.11275 42.8136 14.6289 42.8136 14.6289Z"
                  fill="#E14E4C"
                ></path>
                <path
                  d="M39.4915 6.2334L25.3555 15.9667C25.3555 15.9667 30.0589 18.552 35.172 14.6293C40.5026 10.5465 39.4915 6.2334 39.4915 6.2334Z"
                  fill="#312564"
                ></path>
                <path
                  d="M14.6536 8.45395L14.1289 18.2577L17.8661 6.2334L14.6536 8.45395Z"
                  fill="#2A2566"
                ></path>
                <path
                  d="M30.4171 0L15.5195 19.8378C15.5195 19.8378 22.2132 21.3352 27.7166 14.0208C33.22 6.70646 30.4171 0 30.4171 0Z"
                  fill="#D62B27"
                ></path>
                <path
                  d="M24.5223 5.81055L19.6525 22.0839C19.6525 22.0839 15.6081 18.334 16.7792 13.2273C18.475 5.81055 24.5223 5.81055 24.5223 5.81055Z"
                  fill="#E14F4B"
                ></path>
                <path
                  d="M29.4198 3.52637L21.8047 19.1406C21.8047 19.1406 26.3802 19.5182 29.8742 12.7349C32.6195 7.41074 29.4198 3.52637 29.4198 3.52637Z"
                  fill="#C12026"
                ></path>
                <path
                  d="M35.1771 2.50781L23.9336 16.3623C23.9336 16.3623 29.5842 18.6148 34.1917 12.6059C38.7991 6.59696 35.1771 2.50781 35.1771 2.50781Z"
                  fill="#BF3275"
                ></path>
                <path
                  d="M30.0092 7.41113L17.4922 13.9448C17.4922 13.9448 21.4853 17.0037 26.0544 14.3992C31.1483 11.5003 30.0092 7.41113 30.0092 7.41113Z"
                  fill="#843694"
                ></path>
                <path
                  d="M27.6875 15.4173L29.3897 14.4062L46.0215 16.9212L39.091 19.8584L27.6875 15.4173Z"
                  fill="#995CA5"
                ></path>
                <path
                  d="M34.0635 18.2568H16.1582L14.3984 25.0657L34.0635 18.2568Z"
                  fill="#2A266A"
                ></path>
                <path
                  d="M12.4655 11.627L14.6541 28.9114C14.6541 28.9114 8.83075 29.2122 7.76207 22.3778C6.43102 13.9435 12.4655 11.627 12.4655 11.627Z"
                  fill="#893C96"
                ></path>
                <path
                  d="M11.4696 22.833L12.6535 26.6086L8.82031 30.7745L11.4696 22.833Z"
                  fill="#D22027"
                ></path>
                <path
                  d="M21.0689 10.3667L14.9192 30.5629C14.9192 30.5629 9.50535 26.5057 11.9435 18.6538C14.74 9.6564 21.0689 10.3667 21.0689 10.3667Z"
                  fill="#C62D74"
                ></path>
                <path
                  d="M12.2704 24.3682L17.2363 36.3924C17.2363 36.3924 13.7103 36.8148 11.6497 31.3626C9.58911 25.9104 12.2704 24.3682 12.2704 24.3682Z"
                  fill="#D7C086"
                ></path>
                <path
                  d="M13.6602 22.9415L20.0594 16.0303L22.0688 17.1565L13.6602 22.9415Z"
                  fill="#F39A32"
                ></path>
              </svg>
            </span>
            <span class="site_name">{{environment.siteName}}</span>
				</a>
          </div>

          <ul class="list-socials">
            <li class="li-row">
              <a
                href="{{environment.discordUrl}}"
                title="Discord"
                class="btn socials transition-all btn-discord"
                target="_blank"
              >
                <span class="buttons-icon">
                  <img
                    class="image2x hidden-xs hidden-sm hidden-md"
                    src="../../../assets/imgnew/index/discord.svg"
                    width="30"
                    height="24"
                    alt="discord"
                    data-src=""
                    data-srcset=""
                    srcset=""
                  />
                  <img
                    class="image2x visible-xs visible-sm visible-md"
                    src="../../../assets/imgnew/index/discord.svg"
                    width="26"
                    height="26"
                    alt="Discord"
                    data-src=""
                    data-srcset=""
                    srcset=""
                  />
                </span>
                Join Discord
              </a>
            </li>
            <li class="li-row">
              <a
                href="{{environment.twitterUrl}}"
                title="Twitter"
                class="btn socials transition-all btn-twitter"
                target="_blank"
              >
                <span class="buttons-icon">
                  <img
                    class="image2x hidden-xs hidden-sm hidden-md"
                    src="../../../assets/imgnew/index/Twitter.svg"
                    width="30"
                    height="25"
                    alt="twitter"
                    data-src=""
                    data-srcset=""
                    srcset=""
                  />
                  <img
                    class="image2x visible-xs visible-sm visible-md"
                    src="../../../assets/imgnew/index/Twitter.svg"
                    width="26"
                    height="26"
                    alt="twitter"
                    data-src=""
                    data-srcset=""
                    srcset=""
                  />
                </span>
                Join Twitter
              </a>
            </li>
    
              <li class="li-row">
                <a
                  href="{{environment.openseaUrl}}" 
                  title="Visit OpenSea"
                  class="hPound_bkp btn socials transition-all btn-opensea"
                  target="_blank"
                   
                >
                  <span class="buttons-icon">
                    <img
                      class="image2x hidden-xs hidden-sm hidden-md"
                      src="../../../assets/imgnew/index/opensea.svg"
                      width="30"
                      height="25"
                      alt="opensea"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                    <img
                      class="image2x visible-xs visible-sm visible-md"
                      src="../../../assets/imgnew/index/opensea.svg"
                      width="26"
                      height="26"
                      alt="opensea"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                  </span>
                  Visit OpenSea
                </a>
              </li>
       
            

          </ul>
          <div class="menu-tab">
            <div id="one"></div>
            <div id="two"></div>
            <div id="three"></div>
          </div>
        </div>

        <div class="main-menu">
          <div class="main-menu-container">
          <nav class="main-menu-nav">
            <ul class="list-socials">
              <li class="li-row">
                <a
                  href="{{environment.discordUrl}}"
                  title="Discord"
                  class="btn socials transition-all btn-discord"
                  target="_blank"
                >
                  <span class="buttons-icon">
                    <img
                      class="image2x hidden-xs hidden-sm hidden-md"
                      src="../../../assets/imgnew/index/discord.svg"
                      width="30"
                      height="24"
                      alt="discord"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                    <img
                      class="image2x visible-xs visible-sm visible-md"
                      src="../../../assets/imgnew/index/discord.svg"
                      width="26"
                      height="26"
                      alt="Discord"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                  </span>
                  Join Discord
                </a>
              </li>
              <li class="li-row">
                <a
                  href="{{environment.twitterUrl}}"
                  title="Twitter"
                  class="btn socials transition-all btn-twitter"
                  target="_blank"
                >
                  <span class="buttons-icon">
                    <img
                      class="image2x hidden-xs hidden-sm hidden-md"
                      src="../../../assets/imgnew/index/Twitter.svg"
                      width="30"
                      height="25"
                      alt="twitter"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                    <img
                      class="image2x visible-xs visible-sm visible-md"
                      src="../../../assets/imgnew/index/Twitter.svg"
                      width="26"
                      height="26"
                      alt="twitter"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                  </span>
                  Join Twitter
                </a>
              </li>
              
              <li class="li-row" >
                <a
                  href="{{environment.openseaUrl}}"
                  title="Visit OpenSea"
                  class="hPound_bkp btn socials transition-all btn-opensea"
                  target="_blank" >
                  <span class="buttons-icon">
                    <img
                      class="image2x hidden-xs hidden-sm hidden-md"
                      src="../../../assets/imgnew/index/opensea.svg"
                      width="30"
                      height="25"
                      alt="opensea"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                    <img
                      class="image2x visible-xs visible-sm visible-md"
                      src="../../../assets/imgnew/index/opensea.svg"
                      width="26"
                      height="26"
                      alt="opensea"
                      data-src=""
                      data-srcset=""
                      srcset=""
                    />
                  </span>
                  Visit OpenSea
                </a>
              </li>
         
            </ul>
            <ul>
              <li>
                <a
                  href="https://www.avatizer.art/#artvideo"
                  title="About"
                  class="anchor"
                  ><span>About</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.avatizer.art/#art"
                  title="Technology"
                  class="anchor"
                  ><span>Technology</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.avatizer.art/#People"
                  title="Key People"
                  class="anchor"
                  ><span>Key People</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.avatizer.art/#roadmap"
                  title="Road Map"
                  class="anchor"
                  ><span>Road Map</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.avatizer.art/#faq"
                  title="FAQ"
                  class="anchor"
                  ><span>FAQ</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.avatizer.art/ugly-faces/"
                  title="UGLY FACES"
                  ><span>{{texts.menu_text_uglyfaces}}</span></a
                >
              </li>
              <li>
                <a
                  routerLink="/mint-uglyfaces"
                  title="MINT Ugly Faces"
                  [class.active]="currentUrl === '/mint-uglyfaces'"
                  ><span>{{texts.menu_text_mint_uglyfaces}}</span></a
                >
              </li>
			  <li>
                <a
                  routerLink="/manage-uglyfaces"
                  title="MINT Ugly Faces"
                  [class.active]="currentUrl === '/manage-uglyfaces'"
                  ><span>{{texts.menu_text_manage_uglyfaces}}</span></a
                >
              </li>
              <li>
                <a
                  routerLink="/manageNFT"
                  title="{{texts.menu_text_manage}}"
                  [class.active]="currentUrl === '/manageNFT'"
                  ><span>{{texts.menu_text_manage}}</span></a
                >
              </li>
              <!--li>
                <a routerLink="/" title="{{texts.menu_text_mint}}" class="anchor" [class.active]="currentUrl === '/mint'"><span>{{texts.menu_text_mint}}</span></a>
              </li-->
            </ul>
          </nav>
          <div class="main-xs-footer visible-xs visible-sm">
            <div class="text copyright text-left">
             {{FullYear}} {{texts.copyright_company}}<br />
            {{texts.copyright_adsres}}A
            </div>
          </div>
          </div>
        </div>

        <div class="clearfloat"></div>
      </nav>
    </div>
  </div>