<app-header></app-header>
<ng-template [ngIf]="environment.minting_status === 'not_start'">
<div  class="wrap bkg-color-353D4D" id="mint_status_{{environment.minting_status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image splash-mint--ntf">
                <img
                  src="../../../assets/imgnew/mint/image-nft.svg"
                  width="270"
                  height="360"
                  alt="image"
                />
                <div class="splash-nft-text">{{texts.minting_soon}}</div>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text warning">
                    {{texts.status_minted_not_started}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>    
 </ng-template>

<ng-template [ngIf]="environment.minting_status === 'start'">    
  <div *ngIf="wallet === 'ahisiash'" class="wrap bkg-color-353D4D" id="mint_status_{{wallet}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="wallet-form">
              <div class="wallet-form--fieldset hidden-bg">
                <div class="wallet-form--group hidden-mob">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input not-value"
                      >XXXX
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      XXXX</span
                    >
                    <!-- <input type="text" class="wallet-form--input" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      class="wallet-form--connection"
                      disabled
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                  <div class="wallet-form--status">
                    <div class="form-status--label">Status:</div>
                    <div class="form-status--text"></div>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button class="wallet-form--btn btn btn-metamask">
                    <span class="btn-icon"
                      ><img
                        src="../../../assets/imgnew/mint/metamask-logo.svg"
                        width="30"
                        height="28"
                        alt="metamask-logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.metamask_install}}</span>
                      <span class="btn-description"
                        >{{texts.metamask_required}}</span
                      >
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div *ngIf="status === 'connect'" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset hidden-bg">
              <div class="wallet-form--group hidden-mob">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input not-value"
                    >XXXX
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    XXXX</span
                  >
                  <!-- <input type="text" class="wallet-form--input" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    class="wallet-form--connection"
                    disabled
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text"></div>
                </div>
              </div>
              <div (click)="initWeb3()" class="wallet-form--button">
                <button
                  class="wallet-form--btn btn btn-metamask metamask-connect"
                >
                  <span class="btn-body">
                    <span class="btn-title">{{texts.connect_wallet}}</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div *ngIf="status === 'pendingConnect'" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <form action="" class="wallet-form">
              <div class="wallet-form--fieldset hidden-bg">
                <div class="wallet-form--group hidden-mob">
                  <label class="wallet-form--label" for="your_wallet"
                    >{{texts.your_wallet_id}}:</label
                  >
                  <div class="input-group">
                    <span class="wallet-form--input not-value"
                      >XXXX
                      <span class="wallet-form--input-inside"
                        >-XXXX-XXXX-XXXX-</span
                      >
                      XXXX</span
                    >
                    <!-- <input type="text" class="wallet-form--input" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                    <button
                      class="wallet-form--connection"
                      disabled
                      id="wallet-connection"
                    >
                      {{texts.disconnect}}
                    </button>
                  </div>
                  <div class="wallet-form--status">
                    <div class="form-status--label">Status:</div>
                    <div class="form-status--text"></div>
                  </div>
                </div>
                <div class="wallet-form--button">
                  <button
                    class="wallet-form--btn btn btn-metamask metamask-connect connecting"
                  >
                    <span class="btn-body">
                      <span class="btn-loader"></span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div *ngIf="status === 'network'" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text success">
                    {{texts.status_text_success}}
                  </div>
                </div>
              </div>
              <div class="wallet-form--button">
                <button
                  (click)="switchNetworks()"
                  class="wallet-form--btn btn btn-metamask metamask-switch"
                >
                  <span class="btn-icon"
                    ><img
                      src="../../../assets/imgnew/mint/metamask-logo.svg"
                      width="30"
                      height="28"
                      alt="metamask-logo"
                  /></span>
                  <span class="btn-body">
                    <span class="btn-title">{{texts.switch_network}}</span>
                    <span class="btn-description"
                      >{{texts.minting_ethereum_only}}</span
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isShow" class="dinamic-notify error">
      {{texts.status_switch_error}} <button class="notify-close" (click)="closeNotify()"></button>
    </div>

    <app-footer></app-footer>
  </div>
  <div
    *ngIf="status === 'WL' || status === 'Public'"
    class="wrap bkg-color-353D4D" id="mint_status_{{status}}"
  >
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text success">
                    {{texts.status_text_success}}
                  </div>
                </div>
              </div>
              <div (click)="startMint()" class="wallet-form--button">
                <button class="wallet-form--btn btn btn-metamask btn-mint">
                  <span class="btn-body">
                    <span class="btn-title">{{texts.mint_now}}</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div
    *ngIf="phase === 'WL' && status === 'WLNot'"
    class="wrap bkg-color-353D4D" id="mint_status_{{status}}"
  >
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text error">
                    {{texts.status_address_missing_in_whitelist}}
                  </div>
                </div>
              </div>
              <div class="wallet-form--button buttons-group">
				  <a href="{{environment.openseaUrl}}" title="Visit OpenSea" target="_blank" class="wallet-form--btn btn-sm btn-metamask btn-opensea">

                  <span class="btn-icon"
                    ><img
                      src="../../../assets/imgnew/mint/opensea-logo.svg"
                      width="19"
                      height="18"
                      alt="opensea logo"
                  /></span>
                  <span class="btn-body">
                    <span class="btn-title">OpenSea</span>
                  </span>
      		  </a>
                <a href="/manageNFT" class="wallet-form--btn btn-sm btn-metamask btn-nft">
 
                    <span class="btn-icon"
                      ><img
                        src="../../../assets/imgnew/mint/manage-logo.svg"
                        width="16"
                        height="17"
                        alt="manage logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.manage_nft}}</span>
                    </span>
             
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div *ngIf="status === 'minted' && !token" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image">
                <video
                  class="img-ill"
                  src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                  preload="auto"
                  no-controls
                  autoplay
                  loop
                  muted
                  playsinline
                  alt="avatizer video"
                  width="400"
                  height="400"
                >
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.webm"
                    type="video/webm"
                  />
                  <source
                    src="../../../assets/imgnew/mint/mint-avatizer.mov"
                    type="video/mov"
                  />
                </video>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text warning">
                    {{texts.status_already_minted_nft}}
                  </div>
                </div>
              </div>
              <div class="wallet-form--button buttons-group">
                <a href="{{environment.openseaUrl}}"  class="wallet-form--btn btn-sm btn-metamask btn-opensea no-hover" target="_blank" title="Visit OpenSea">
                  <span class="btn-icon"><img
                      src="../../../assets/imgnew/mint/opensea-logo.svg"
                      width="19"
                      height="18"
                      alt="opensea logo"
                  /></span>
                  <span class="btn-body">
                    <span class="btn-title">OpenSea</span>
                  </span>
                </a>
                <a href="/manageNFT" class="wallet-form--btn btn-sm btn-metamask btn-nft  no-hover" title="{{texts.manage_nft}}">
 
                    <span class="btn-icon"><img
                        src="../../../assets/imgnew/mint/manage-logo.svg"
                        width="16"
                        height="17"
                        alt="manage logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.manage_nft}}</span>
                    </span>
      
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

  <div *ngIf="status === 'pending'" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image splash-mint--ntf">
                <img
                  src="../../../assets/imgnew/mint/image-nft.svg"
                  width="270"
                  height="360"
                  alt="image"
                />
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text process">{{texts.status_getting_nft}}</div>
                </div>
              </div>
              <div class="wallet-form--button">
                <button
                  (click)="startMint()"
                  class="wallet-form--btn btn btn-metamask btn-mint"
                  disabled
                >
                  <span class="btn-body">
                    <span class="btn-title">{{texts.mint_now}}</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
  <div *ngIf="status === 'minted' && token" class="wrap bkg-color-353D4D" id="mint_status_{{status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image splash-mint--ntf">
                <img
                  src="../../../assets/imgnew/mint/image-nft.svg"
                  width="270"
                  height="360"
                  alt="image"
                />
                <div class="splash-nft-text">
                  Avatizer #{{ token }} is now yours
                </div>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5)
                    }}<span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text warning">
                    {{texts.status_already_minted_nft}}
                  </div>
                </div>
              </div>
              <div class="wallet-form--button buttons-group">
                <a href="{{environment.openseaUrl}}"    class="wallet-form--btn btn-sm btn-metamask btn-opensea no-hover" target="_blank" title="OpenSea">
                  <span class="btn-icon"
                    ><img
                      src="../../../assets/imgnew/mint/opensea-logo.svg"
                      width="19"
                      height="18"
                      alt="opensea logo"
                  /></span>
                  <span class="btn-body">
                    <span class="btn-title">OpenSea</span>
                  </span>
                </a>
                <a href="/manageNFT" class="wallet-form--btn btn-sm btn-metamask btn-nft no-hover" title="{{texts.manage_nft}}">
                 
                    <span class="btn-icon"
                      ><img
                        src="../../../assets/imgnew/mint/manage-logo.svg"
                        width="16"
                        height="17"
                        alt="manage logo"
                    /></span>
                    <span class="btn-body">
                      <span class="btn-title">{{texts.manage_nft}}</span>
                    </span>
                  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isShowSuccess" class="dinamic-notify success">
      {{texts.status_mint_success}} <button class="notify-close" (click)="closeSuccessNotify()"></button>
    </div>

    <app-footer></app-footer>
  </div>
    
    
  <div *ngIf="status === ''" class="wrap bkg-color-353D4D" id="mint_status_empty">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image splash-mint--ntf">
                <img
                  src="../../../assets/imgnew/mint/image-nft.svg"
                  width="270"
                  height="360"
                  alt="image"
                />
                <div class="splash-nft-text">{{texts.minting_soon}}</div>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text warning">
                    {{texts.status_minted_not_started}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</ng-template>

<ng-template [ngIf]="environment.minting_status === 'stop'"> 
    <div class="wrap bkg-color-353D4D" id="mint_status_{{environment.minting_status}}">
    <div class="container">
      <div class="parallax">
        <img
          class="img img-parallax"
          src="../../../assets/imgnew/mint/small-parts-7.svg"
          alt="small_parts_page1"
          width="2000"
          height="1600"
          data-speed="0.4"
        />
      </div>

      <div class="splash-mint row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
          <div class="splash-mint--body">
            <div class="splash-mint--content">
              <div class="splash-mint--title">{{texts.splash_mint_title}}</div>
              <div class="splash-mint--description">
                {{texts.splash_mint_description_1}}
              </div>
              <div class="splash-mint--image splash-mint--ntf">
                <img
                  src="../../../assets/imgnew/mint/image-nft.svg"
                  width="270"
                  height="360"
                  alt="image"
                />
                <div class="splash-nft-text">{{texts.minting_stoped}}</div>
              </div>
            </div>
          </div>
          <div class="splash-mint--wallet">
            <div class="wallet-form--fieldset focused">
              <div class="wallet-form--group">
                <label class="wallet-form--label" for="your_wallet"
                  >{{texts.your_wallet_id}}:</label
                >
                <div class="input-group">
                  <span class="wallet-form--input"
                    >{{ wallet.substring(0, 5) }}
                    <span class="wallet-form--input-inside"
                      >-XXXX-XXXX-XXXX-</span
                    >
                    {{
                      wallet.substring(wallet.length - 4, wallet.length + 4)
                    }}</span
                  >
                  <!-- <input type="text" class="wallet-form--input" value="0x426 -XXXX-XXXX-XXXX- d1dA" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX" id="your_wallet" aria-describedby="wallet-connection"> -->
                  <button
                    (click)="logout()"
                    class="wallet-form--connection connect"
                    id="wallet-connection"
                  >
                    {{texts.disconnect}}
                  </button>
                </div>
                <div class="wallet-form--status">
                  <div class="form-status--label">Status:</div>
                  <div class="form-status--text warning">
                    {{texts.status_minted_not_started}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</ng-template>    
